<!DOCTYPE html>
<html>
<head>
    <meta content="" text /html; charset=utf-8"" http-equiv="" Content-Type"">
    <style type="" text /css"">
        body {
            font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
        }

        .logo {
            width: 100%;
            height: 80px;
            background-color: #0066CC;
        }
    </style>
</head>
<body>
    <!--<h3 style='text-align: center;color:#0066CC'>THÔNG BÁO RESET MẬT KHẨU ĐĂNG NHẬP EXIMBANK MOBILE BANKING</h3>
    <h3 style='text-align: center'><i>(RE-PROVISION FOR MOBILE BANKING PASSWORD)</i></h3>-->
    Kính gửi: Quý khách hàng {Name}<br />
    (Dear Mr/Ms {Name})<br />
    Theo yêu cầu của Quý khách về việc cấp lại mật khẩu, Eximbank trân trọng thông báo mật khẩu mới của Quý khách  đối với dịch vụ Mobile Banking tại Eximbank như sau:<br />
    <i>(According to your requirement for re-providing password, Eximbank would like to inform that your new password for Mobile Banking service at Eximbank as follows:)</i><br />
    <b>  Tên khách hàng:</b> {Name}<br />
    <i>(Customer’s Full Name)</i><br />
    <b>  Gói dịch vụ:</b> {PackageName}<br />
    <i>(Service pack)</i><br />
    <b>  Tên đăng nhập:</b>{Username}<br />
    <i>(Username)</i><br />
    <b>  Mật khẩu:</b>{pin}<br />
    <i>(Password)</i><br />
    <i>Quý khách sử dụng mật khẩu để đăng nhập và kích hoạt dịch vụ trước khi sử dụng.</i><br />
    <i>(Please use password to login and active the service)</i><br />
    <br />
    Để biết thêm thông tin chi tiết, vui lòng tham khảo tại website của Eximbank: www.eximbank.com.vn hoặc liên lạc Trung Tâm Hỗ Trợ khách hàng qua số điện thoại 1800 1199 hoặc email ebanking@eximbank.com.vn .<br />
    <i>(For further details, please visit our website at www.eximbank.com.vn or contact our Call Center at 1800 1199 or send email to  ebanking@eximbank.com.vn ).</i><br />
    <br />
    Trân trọng,<br />
    Ngân hàng TMCP Xuất Nhập khẩu Việt Nam<br />
</body>
</html>