.charge-bank{
	padding-right: 0;
}
.charge-bank .logo-bank{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.charge-bank .logo-bank .bank-item{
    width: 150px;
    height: 80px;
    background: #fff;
    margin: 5px 10px;
    border: 1px solid #ced0d6;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    /*opacity: .8;*/
}
.charge-bank .logo-bank .bank-item.momo{
	width: 120px;
	height: 120px;
}
.charge-bank .logo-bank .bank-item.active{
	border-width: 2px;
	border-color: #df6363;
	opacity: 1;
}
.charge-bank .logo-bank .bank-item img{
	max-width: 100%;
	height: auto;
}
.charge-bank .bank-tabs .promo{
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px 20px;
	background: #d5f0ff;
	color: #316e92;
}
.charge-bank .bank-tabs .promo strong{
	font-weight: 700;
	color: #ec265d;
}
.charge-bank .bank-tabs .promo span::first-letter{
	text-transform: uppercase;
}
.charge-bank blockquote{
	border-left: 5px solid #384148;
	background: #eff4f5;
	padding: 10px 10px 10px 20px;
}
.charge-bank blockquote .transfer-text{
	color: #5f5de8;
}