/*
 * Author: clovis(706706)
 * Version: 0.1.0
 * Compile Date: 2020-11-30 23:57
*/ 
html {
    color: #000;
    background: #fff;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }
  
  html * {
    outline: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  
  html, body {
    font-family: sans-serif; }
  
  /* ÄÚÍâ±ß¾àÍ¨³£ÈÃ¸÷¸öä¯ÀÀÆ÷ÑùÊ½µÄ±íÏÖÎ»ÖÃ²»Í¬ */
  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0; }
  
  input, select, textarea {
    font-size: 100%; }
  
  /* È¥µô¸÷ Table  cell µÄ±ß¾à²¢ÈÃÆä±ßÖØºÏ */
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  /* È¥³ýÄ¬ÈÏ±ß¿ò */
  fieldset, img {
    border: 0; }
  
  /* È¥µô firefox ÏÂ´ËÔªËØµÄ±ß¿ò */
  abbr, acronym {
    border: 0;
    font-variant: normal; }
  
  /* Ò»ÖÂµÄ del ÑùÊ½ */
  del {
    text-decoration: line-through; }
  
  address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500; }
  
  /* È¥µôÁÐ±íÇ°µÄ±êÊ¶, li »á¼Ì³Ð */
  ol, ul {
    list-style: none; }
  
  /* ¶ÔÆëÊÇÅÅ°æ×îÖØÒªµÄÒòËØ, ±ðÈÃÊ²Ã´¶¼¾ÓÖÐ */
  caption, th {
    text-align: left; }
  
  /* À´×Ô yahoo, ÈÃ±êÌâ¶¼×Ô¶¨Òå, ÊÊÓ¦¶à¸öÏµÍ³Ó¦ÓÃ */
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500; }
  
  q:before, q:after {
    content: ''; }
  
  /* Í³Ò»ÉÏ±êºÍÏÂ±ê */
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  
  sup {
    top: -0.5em; }
  
  sub {
    bottom: -0.25em; }
  
  /* Õý³£Á´½Ó Î´·ÃÎÊ */
  /* Êó±êÐüÍ£ */
  a:hover, a:active {
    text-decoration: underline; }
  
  /* Ä¬ÈÏ²»ÏÔÊ¾ÏÂ»®Ïß£¬±£³ÖÒ³Ãæ¼ò½à */
  ins, a {
    text-decoration: none; }
  
  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0; }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  
  fieldset, img {
    border: 0; }
  
  address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal; }
  
  ol, ul {
    list-style: none; }
  
  caption, th {
    text-align: left; }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal; }
  
  q:before, q:after {
    content: ""; }
  
  abbr, acronym {
    border: 0;
    font-variant: normal; }
  
  sup {
    vertical-align: text-top; }
  
  sub {
    vertical-align: text-bottom; }
  
  input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit; }
  
  a {
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer; }
  
  a:active {
    outline: 0;
    opacity: 0.9;
    filter: alpha(opacity=90); }
  
  a:hover {
    outline: 0;
    opacity: 0.8;
    filter: alpha(opacity=80); }
  
  input, textarea, select {
    *font-size: 100%; }
  
  body {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
  
  .clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ""; }
  
  .clearfix {
    zoom: 1; }
  
  /*display-inline*/
  body, html {
    /*overflow: hidden;*/ }
  
  body, html {
    width: 100%;
    height: 100%;
    position: relative;
    background: #0b0b0b;
    /*overflow: hidden;*/ }
  
  .top-nav {
    width: 100%;
    height: 54px;
    background: url(/images/full-bg-intro.png) top center no-repeat; }
    .top-nav .nav {
      height: 52px;
      padding-left: 60px; }
      .top-nav .nav ul {
        padding-top: 10px; }
        .top-nav .nav ul li {
          float: left;
          line-height: 40px;
          color: #3e4656;
          margin-left: 90px;
          width: 110px; }
          .top-nav .nav ul li a {
            line-height: 40px;
            color: #81709a;
            text-decoration: none;
            font-size: 16px; }
            .top-nav .nav ul li a:hover {
              color: #b7e242; }
              .top-nav .nav ul li a:hover .line {
                width: 100%;
                display: block;
                margin: 0 auto; }
              .top-nav .nav ul li a:hover .home-page {
                background: url(./jz/2016/11/11/hygrzbs/home-page-on.png) no-repeat; }
              .top-nav .nav ul li a:hover .register {
                background: url(./jz/2016/11/11/hygrzbs/register-on.png) no-repeat; }
              .top-nav .nav ul li a:hover .download {
                background: url(./jz/2016/11/11/hygrzbs/download-on.png) no-repeat; }
              .top-nav .nav ul li a:hover .forum {
                background: url(./jz/2016/11/11/hygrzbs/forum-on.png) no-repeat; }
          .top-nav .nav ul li .line {
            width: 0;
            height: 3px;
            background: #b7e242;
            transition: width 0.2s linear 0s; }
          .top-nav .nav ul li .icon {
            width: 22px;
            height: 22px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            margin-left: 10px; }
            .top-nav .nav ul li .icon.home-page {
              background: url(./jz/2016/11/11/hygrzbs/home-page.png) no-repeat; }
            .top-nav .nav ul li .icon.register {
              background: url(./jz/2016/11/11/hygrzbs/register.png) no-repeat; }
            .top-nav .nav ul li .icon.download {
              background: url(./jz/2016/11/11/hygrzbs/download.png) no-repeat; }
            .top-nav .nav ul li .icon.forum {
              background: url(https://img8.99.com/jz/2016/11/11/hygrzbs/forum.png) no-repeat; }
          .top-nav .nav ul li.register-cont {
            margin-right: 200px; }
    .top-nav .logo {
      width: 193px;
      height: 105px;
      position: absolute;
      left: 50%;
      margin-left: -96.5px;
      top: 25px; }
      .top-nav .logo a {
        display: block;
        width: 193px;
        height: 105px; }
  
  .full-bg {
    width: 100%;
    background: url(/images/full-bg-intro.png) center 0px no-repeat; }
  
  .wrapper {
    width: 1200px;
    margin: 0px auto; }
  
  .main {
    width: 1200px;
    height: 1500px;
    margin: 0px auto;
     }
    .main .btn-area {
      width: 100%;
      padding-top: 750px;
      height: 76px;
      text-align: center; }
      .main .btn-area .btn-jfq {
        background: url(/images/btn-sssz.png) no-repeat;
        width: 274px;
        height: 76px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-right: 10px; }
        .main .btn-area .btn-jfq:hover {
          filter: alpha(opacity=90);
          opacity: 0.9; }
      .main .btn-area .btn-ssjl {
        background: url(/images/btn-ssjl.png) no-repeat;
        width: 274px;
        height: 76px;
        display: inline-block;
        *display: inline;
        *zoom: 1; }
        .main .btn-area .btn-ssjl:hover {
          filter: alpha(opacity=90);
          opacity: 0.9; }
        .main .btn-area .btn-ssjl1 {
            background: url(/images/btn-ssjl1.png) no-repeat;
            width: 274px;
            height: 76px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
        }
		 .main .btn-area .btn-ssjl:hover {
          filter: alpha(opacity=90);
          opacity: 0.9; }
    .main .mem-info {
      width: 900px;
      height: 320px;
      margin: 0px auto;
      position: relative;
      padding-top: 150px; }
      .main .mem-info .roundabout-holder {
        width: 731px;
        height: 424px;
        margin: 0 auto;
        text-align: center; }
        .main .mem-info .roundabout-holder .roundabout-moveable-item {
          width: 488px;
          height: 397px;
          cursor: pointer; }
          .main .mem-info .roundabout-holder .roundabout-moveable-item .jb {
            width: 100%;
            height: 100%;
            margin: 0;
            text-align: center; }
        .main .mem-info .roundabout-holder .roundabout-in-focus {
          cursor: auto; }
      .main .mem-info .roundabout-in-focus .jbbg {
        width: 331px;
        height: 70px;
        padding-top: 254px; }
      .main .mem-info .roundabout-in-focus .second {
        background: url(/intro/jz/images/activity/2020/hyzb/second-on.png) no-repeat center;
        padding-top: 246px;
        height: 78px; }
      .main .mem-info .roundabout-in-focus .champion {
        background: url(/intro/jz/images/activity/2020/hyzb/first-on.png) no-repeat center; }
      .main .mem-info .roundabout-in-focus .third {
        background: url(/intro/jz/images/activity/2020/hyzb/third-on.png) no-repeat center;
        padding-top: 246px;
        height: 78px; }
      .main .mem-info .jbbg {
        width: 288px;
        height: 70px;
        text-align: center;
        line-height: 26px;
        padding-top: 227px;
        margin: 0px auto; }
        .main .mem-info .jbbg .mem-info-name {
          font-size: 18px;
          color: #fff;
          font-weight: bold;
          display: block;
          text-shadow: 1px 1px #5a3d1c;
          width: 180px;
          margin: 0px auto;
          overflow: hidden;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 26px; }
        .main .mem-info .jbbg .mem-info-area {
          display: block;
          color: #9a61eb;
          font-size: 16px;
          text-shadow: 1px 1px #5a3d1c;
          width: 180px;
          margin: 0px auto;
          overflow: hidden;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 26px;
          padding-top: 8px; }
      .main .mem-info .second {
        background: url(/intro/jz/images/activity/2020/hyzb/second.png) no-repeat center;
        padding-top: 222px;
        height: 75px; }
        .main .mem-info .second .mem-info-area {
          color: #9f7cff; }
      .main .mem-info .champion {
        background: url(/intro/jz/images/activity/2020/hyzb/first.png) no-repeat center; }
        .main .mem-info .champion .mem-info-area {
          color: #ffcd62; }
      .main .mem-info .third {
        background: url(/intro/jz/images/activity/2020/hyzb/third.png) no-repeat center;
        padding-top: 222px;
        height: 75px; }
        .main .mem-info .third .mem-info-area {
          color: #ff9d55; }
    .main .process {
      padding: 200px 100px 0px;
      color: #8970ac;
      font-size: 16px;
      line-height: 38px; }
      .main .process .tip {
        height: 24px;
        background: url(/intro/jz/images/activity/2020/hyzb/tip.png) no-repeat;
        font-size: 14px;
        text-align: center;
        line-height: 24px;
        color: #605b6c;
        margin-top: 30px; }
  
  .foot {
    width: 100%;
    border-top: 2px solid #cdff41;
    color: #888;
    font-size: 12px;
    padding: 20px 0; }
    .foot a {
      color: #888; }
  
  /*pop*/
  .pop-box {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%; }
    .pop-box.show {
      display: block; }
  
  .mask {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); }
  
  .pop {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 13;
    text-align: center;
    padding: 10px 0 45px; }
  
  .pop-title {
    position: relative;
    margin-top: 40px; }
    .pop-title h3 {
      height: 50px;
      color: #ad8fed;
      font-weight: bold;
      font-size: 26px;
      line-height: 50px; }
  
  .pop-close {
    position: absolute;
    top: 0px;
    right: -70px;
    z-index: 2;
    width: 57px;
    height: 57px;
    background: url(/intro/jz/images/activity/2020/hyzb/btn-close.png) no-repeat;
    overflow: hidden;
    font-size: 0; }
  
  .pop-btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 5px;
    border: none;
    cursor: pointer; }
  
  .pop-award .pop {
    width: 892px;
    height: 692px;
    background: url(/intro/jz/images/activity/2020/hyzb/pop-tc1.png) no-repeat;
    margin-left: -446px;
    margin-top: -346px; }
    .pop-award .pop .pop-m {
      padding-top: 20px;
      text-align: left;
      color: #fff; }
      .pop-award .pop .pop-m .txt1 {
        width: 730px;
        margin: 0px auto;
        font-size: 18px;
        line-height: 36px; }
      .pop-award .pop .pop-m .txt2 {
        width: 780px;
        margin: 0px auto;
        font-size: 18px;
        line-height: 26px; }
        .pop-award .pop .pop-m .txt2 span {
          color: #ff0000; }
  
  /*display-inline*/