/*
 * Author: clovis(706706)
 * Version: 0.1.0
 * Compile Date: 2021-03-19 10:57
*/
/***********************reset***********************/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a {
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

    a:active {
        outline: 0;
        opacity: 0.9;
        filter: alpha(opacity=90);
    }

    a:hover {
        outline: 0;
    }

input,
textarea,
select {
    *font-size: 100%;
}


.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: "";
}

.clearfix {
    zoom: 1;
}

@-webkit-keyframes heart {
    0%, 100% {
        transform: translateY(0);
        -webkit-filter: brightness(1);
        filter: brightness(1);
    }

    50% {
        transform: translateY(9px);
        -webkit-filter: brightness(1.3);
        filter: brightness(1.3);
    }
}

@keyframes heart {
    0%, 100% {
        transform: translateY(0);
        -webkit-filter: brightness(1);
        filter: brightness(1);
    }

    50% {
        transform: translateY(9px);
        -webkit-filter: brightness(1.3);
        filter: brightness(1.3);
    }
}

body,
html {
    width: 100%;
    height: 100%;
    position: relative;
    background: #211337;
}

.full-bg {
    min-width: 1200px;
    margin: 0 auto;
    background: url(/images/full-bg.png) top center no-repeat;
}

.wrapper {
    width: 1200px;
    margin: 0px auto;
}

/*********ͷ������********/
/*********header********/
.header {
    height: 720px;
    width: 100%;
    background: url(/images/nav-bg.png) no-repeat center top;
    overflow: hidden;
    position: relative;
}

    .header .wrapper {
        position: relative;
        *z-index: 10;
    }

        .header .wrapper .top-nav {
            height: 70px;
            text-align: center;
            position: relative;
            z-index: 3;
        }

            .header .wrapper .top-nav .nav-ul {
                width: 100%;
                height: 70px;
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
            }

                .header .wrapper .top-nav .nav-ul li {
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                    text-align: center;
                    cursor: pointer;
                    width: 120px;
                    height: 70px;
                    vertical-align: top;
                }

                    .header .wrapper .top-nav .nav-ul li.logo {
                        width: 174px;
                        height: 70px;
                        position: relative;
                        text-align: center;
                    }

                        .header .wrapper .top-nav .nav-ul li.logo a {
                            background: none;
                        }

                            .header .wrapper .top-nav .nav-ul li.logo a img {
                                position: absolute;
                                width: 174px;
                                top: -20px;
                                left: 50%;
                                margin-left: -87px;
                                transform: rotate(10deg);
                            }

                        .header .wrapper .top-nav .nav-ul li.logo:hover a {
                            background: none;
                        }

                    .header .wrapper .top-nav .nav-ul li a {
                        color: #fffff9;
                        background: url(/images/nav-icon.png) no-repeat left center;
                        height: 70px;
                        padding-left: 20px;
                        display: inline-block;
                        *display: inline;
                        *zoom: 1;
                        vertical-align: top;
                        padding-right: 10px;
                    }

                    .header .wrapper .top-nav .nav-ul li p {
                        font-size: 14px;
                        line-height: 70px;
                    }

                    .header .wrapper .top-nav .nav-ul li span {
                        font-size: 12px;
                    }

                    .header .wrapper .top-nav .nav-ul li:hover p {
                        color: #6888f8;
                    }

                    .header .wrapper .top-nav .nav-ul li:hover a {
                        background: url(/images/nav-icon-on.png) no-repeat center left;
                    }

            .header .wrapper .top-nav .nav-content {
                background: url(/images/header-nav-bg.png) left 70px;
                height: 352px;
                padding-top: 75px;
                display: none;
            }

                .header .wrapper .top-nav .nav-content li {
                    float: left;
                    text-align: center;
                    cursor: pointer;
                    overflow: hidden;
                    width: 128px;
                }

                    .header .wrapper .top-nav .nav-content li.nologo {
                        width: 170px;
                    }

                        .header .wrapper .top-nav .nav-content li.nologo a {
                            font-size: 0;
                        }

                    .header .wrapper .top-nav .nav-content li a {
                        display: block;
                        color: #fffff9;
                        min-height: 30px;
                        line-height: 30px;
                        font-size: 14px;
                    }

                        .header .wrapper .top-nav .nav-content li a:hover {
                            color: #6888f8;
                        }

            .header .wrapper .top-nav:hover .nav-content {
                display: block;
            }

        .header .wrapper .slogan {
            display: none;
        }

/********����*******/
.m1 {
    height: 767px;
    padding-top: 1px;
}

    .m1 .wrapper {
        height: 767px;
        position: relative;
        overflow: visible;
    }

        .m1 .wrapper .m1-tips {
            position: absolute;
            top: -40px;
            left: 0px;
            width: 100%;
        }

            .m1 .wrapper .m1-tips .sever {
                width: 100%;
                height: 30px;
                line-height: 30px;
                font-size: 16px;
                padding-left: 20px;
                color: #8da3eb;
                background: url(/images/m1-tips.png) no-repeat;
                display: inline-block;
                *display: inline;
                *zoom: 1;
            }

            .m1 .wrapper .m1-tips .activity-btn {
                display: inline-block;
                *display: inline;
                *zoom: 1;
                background: url(/images/activity-btn.png) no-repeat;
                width: 116px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                color: #f1f6f7;
                margin-left: 10px;
            }

                .m1 .wrapper .m1-tips .activity-btn:hover {
                    background: url(/images/activity-btn-on.png) no-repeat;
                }

        .m1 .wrapper .m1-content {
            width: 100%;
            font-size: 0;
        }

            .m1 .wrapper .m1-content .r-div,
            .m1 .wrapper .m1-content .c-div,
            .m1 .wrapper .m1-content .l-div {
                display: inline-block;
                *display: inline;
                *zoom: 1;
                vertical-align: top;
            }

            .m1 .wrapper .m1-content .l-div {
                width: 301px;
                min-height: 340px;
                font-size: 0;
            }

                .m1 .wrapper .m1-content .l-div .download-btn {
                    background: url(/images/downgame.png) no-repeat;
                    width: 301px;
                    height: 150px;
                    padding-top: 1px;
                    display: block;
                    -webkit-transition: background 0.6s;
                    transition: background 0.6s;
                }

                    .m1 .wrapper .m1-content .l-div .download-btn i {
                        display: block;
                        background: url(/images/downgame-txt.png);
                        width: 185px;
                        height: 69px;
                        margin: 29px auto 0;
                        -webkit-transition: all 0.6s;
                        transition: all 0.6s;
                    }

                    .m1 .wrapper .m1-content .l-div .download-btn:hover {
                        background: url(/images/downgame-on.png) no-repeat;
                        -webkit-filter: brightness(1.1);
                        filter: brightness(1.1);
                        opacity: 1;
                        filter: alpha(opacity=100);
                    }

                        .m1 .wrapper .m1-content .l-div .download-btn:hover i {
                            animation: heart 1.5s linear infinite;
                            -webkit-animation: heart 1.5s linear infinite;
                        }

                .m1 .wrapper .m1-content .l-div .s-btn {
                    margin-top: 9px;
                    background: url(/images/s-zc-btn.png) no-repeat;
                    width: 146px;
                    height: 60px;
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                    vertical-align: middle;
                    -webkit-transition: background 0.6s;
                    transition: background 0.6s;
                }

                    .m1 .wrapper .m1-content .l-div .s-btn.br {
                        margin-right: 7px;
                    }

                    .m1 .wrapper .m1-content .l-div .s-btn.cz {
                        background: url(/images/s-cz-btn.png) no-repeat;
                    }

                        .m1 .wrapper .m1-content .l-div .s-btn.cz:hover {
                            background: url(/images/s-cz-btn-on.png) no-repeat;
                            -webkit-filter: brightness(1.1);
                            filter: brightness(1.1);
                            opacity: 1;
                            filter: alpha(opacity=100);
                        }

                    .m1 .wrapper .m1-content .l-div .s-btn:hover {
                        background: url(/images/s-zc-btn-on.png) no-repeat;
                        -webkit-filter: brightness(1.1);
                        filter: brightness(1.1);
                        opacity: 1;
                        filter: alpha(opacity=100);
                    }

                .m1 .wrapper .m1-content .l-div .four-btn-bg {
                    background: url(/images/four-btn.png) no-repeat;
                    margin-top: 9px;
                }

                .m1 .wrapper .m1-content .l-div .four-btn {
                    width: 149px;
                    height: 60px;
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                    vertical-align: middle;
                    border-bottom: 1px solid #02050e;
                    border-right: 1px solid #02050e;
                    font-size: 18px;
                    color: #8da3eb;
                    text-align: center;
                    line-height: 60px;
                }

                    .m1 .wrapper .m1-content .l-div .four-btn:hover {
                        background-color: #565f83;
                    }

                .m1 .wrapper .m1-content .l-div .b1 {
                    border-right: 1px solid #02050e;
                }

                .m1 .wrapper .m1-content .l-div .b3 {
                    border-right: 1px solid #02050e;
                }

            .m1 .wrapper .m1-content .c-div {
                width: 489px;
                height: 350px;
                margin-left: 10px;
                margin-right: 10px;
            }

                .m1 .wrapper .m1-content .c-div .swiper-container {
                    width: 100%;
                    height: 100%;
                }

                    .m1 .wrapper .m1-content .c-div .swiper-container .swiper-slide img {
                        width: 489px;
                        height: 350px;
                    }

                    .m1
                    .wrapper
                    .m1-content
                    .c-div
                    .swiper-container
                    .swiper-pagination-switch:hover {
                        background: #758ce3;
                    }

                .m1 .wrapper .m1-content .c-div .pagination {
                    position: absolute;
                    z-index: 20;
                    bottom: 20px;
                    width: 100%;
                    text-align: center;
                }

                    .m1 .wrapper .m1-content .c-div .pagination .swiper-pagination-switch {
                        display: inline-block;
                        *display: inline;
                        *zoom: 1;
                        width: 40px;
                        height: 4px;
                        background: #303767;
                        margin: 0 5px;
                        opacity: 0.8;
                        filter: Alpha(Opacity=80);
                        cursor: pointer;
                    }

                    .m1 .wrapper .m1-content .c-div .pagination .swiper-active-switch {
                        background: #758ce3;
                    }

            .m1 .wrapper .m1-content .r-div {
                width: 390px;
                height: 350px;
                background: url(/images/m1-news-div.png) no-repeat;
                position: relative;
            }

                .m1 .wrapper .m1-content .r-div .sw-btn {
                    width: 390px;
                    height: 33px;
                    margin: 0 auto;
                    font-size: 0;
                }

                    .m1 .wrapper .m1-content .r-div .sw-btn a {
                        width: 84px;
                        text-align: center;
                        color: #839cff;
                        font-size: 14px;
                        display: inline-block;
                        *display: inline;
                        *zoom: 1;
                        vertical-align: middle;
                        line-height: 33px;
                    }

                        .m1 .wrapper .m1-content .r-div .sw-btn a + a {
                            background: url(/images/m1-news-nav-br.png) no-repeat left center;
                        }

                        .m1 .wrapper .m1-content .r-div .sw-btn a:hover,
                        .m1 .wrapper .m1-content .r-div .sw-btn a.on {
                            font-weight: bold;
                            color: #f1f6f7;
                            background: url(/images/m1-news-nav-on.png) no-repeat;
                        }

                .m1 .wrapper .m1-content .r-div .more-btn {
                    background: url(/images/more-btn.png) no-repeat;
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 4px;
                    right: 5px;
                    -webkit-transition: -webkit-transform 0.5s;
                    transition: -webkit-transform 0.5s;
                }

                    .m1 .wrapper .m1-content .r-div .more-btn:hover {
                        -webkit-transform: scale(1.3);
                        transform: scale(1.3);
                        transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                    }

                .m1 .wrapper .m1-content .r-div .big-news {
                    width: 300px;
                    height: 40px;
                    background: url(/images/big-news.png) no-repeat;
                    margin: 10px auto;
                }

                    .m1 .wrapper .m1-content .r-div .big-news a {
                        display: block;
                        font-weight: bold;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        color: #f1f6f7;
                        font-size: 18px;
                        line-height: 40px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                        .m1 .wrapper .m1-content .r-div .big-news a font {
                            color: #f1f6f7;
                        }

                .m1 .wrapper .m1-content .r-div .swiper-container {
                    width: 390px;
                    height: 278px;
                    margin: 0 auto;
                }

                    .m1 .wrapper .m1-content .r-div .swiper-container .swiper-wrapper,
                    .m1 .wrapper .m1-content .r-div .swiper-container .swiper-slide {
                        width: 100%;
                    }

                    .m1 .wrapper .m1-content .r-div .swiper-container table {
                        width: 90%;
                        margin: 0px auto;
                        font-size: 14px;
                        color: #839cff;
                    }

                        .m1 .wrapper .m1-content .r-div .swiper-container table tr {
                            height: 36px;
                            -moz-transition: color 0.3s linear;
                            -webkit-transition: color 0.3s linear;
                            -o-transition: color 0.3s linear;
                            -ms-transition: color 0.3s linear;
                            transition: color 0.3s linear;
                            border-bottom: 1px solid #464a70;
                        }

                            .m1 .wrapper .m1-content .r-div .swiper-container table tr a {
                                color: #839cff;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                display: block;
                                width: 220px;
                            }

                                .m1 .wrapper .m1-content .r-div .swiper-container table tr a font {
                                    color: #839cff;
                                }

                            .m1 .wrapper .m1-content .r-div .swiper-container table tr:hover {
                                color: #f1f6f7;
                            }

                                .m1 .wrapper .m1-content .r-div .swiper-container table tr:hover a {
                                    color: #f1f6f7;
                                }

                            .m1 .wrapper .m1-content .r-div .swiper-container table tr td {
                                max-width: 226px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

        .m1 .wrapper .hot-event {
            width: 871px;
            height: 368px;
            margin-top: 40px;
            position: relative;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            vertical-align: middle;
        }

            .m1 .wrapper .hot-event h3 {
                font-size: 0;
                color: transparent;
                background: url(/images/act-tit.png) no-repeat;
                width: 871px;
                height: 33px;
                position: relative;
            }

                .m1 .wrapper .hot-event h3 .more-btn {
                    position: absolute;
                    font-size: 14px;
                    height: 24px;
                    line-height: 24px;
                    color: #95a9ee;
                    top: 5px;
                    right: 10px;
                }

                    .m1 .wrapper .hot-event h3 .more-btn i {
                        background: url(/images/more-btn.png) no-repeat;
                        width: 24px;
                        height: 24px;
                        margin-right: 5px;
                        display: inline-block;
                        *display: inline;
                        *zoom: 1;
                        vertical-align: middle;
                        -webkit-transition: -webkit-transform 0.5s;
                        transition: -webkit-transform 0.5s;
                    }

                    .m1 .wrapper .hot-event h3 .more-btn:hover i {
                        -webkit-transform: scale(1.3);
                        transform: scale(1.3);
                        transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                    }

            .m1 .wrapper .hot-event .hot-content {
                width: 100%;
                height: 314px;
                font-size: 0;
                margin-top: 30px;
                overflow: hidden;
                display: block;
            }

                .m1 .wrapper .hot-event .hot-content .hot {
                    width: 210px;
                    height: 314px;
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                    background: url(/images/hot-act.png) no-repeat;
                    vertical-align: middle;
                    margin-right: 7px;
                    transition: transform 0.5s;
                    -ms-transition: transform 0.5s;
                    -moz-transition: transform 0.5s;
                    -webkit-transition: transform 0.5s;
                    position: relative;
                    /*.hot-bg {
              background: #000;
              display: none;
              width: 100%;
              height: 244px;
              position: absolute;
              opacity: .8;
              filter: Alpha(Opacity=80);
              top: 0;
              left: 0;
              span {
                position: absolute;
                width: (188px - 20px);
                height: (200px - 60px);
                padding: 30px 10px;
                left: 50%;
                top: 50%;
                margin-left: -94px;
                margin-top: -100px;
                text-align: center;
                font-size: 15px;
                color: #cdbe91;
                .tit {
                  font-size: 14px;
                  color: #9d9c9c;
                  display: block;
                }
              }
            }*/
                }

                    .m1 .wrapper .hot-event .hot-content .hot img {
                        width: 180px;
                        height: 228px;
                        margin: 15px auto;
                        display: block;
                    }

                    .m1 .wrapper .hot-event .hot-content .hot .name {
                        margin: 20px auto;
                        width: 180px;
                        text-align: center;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        color: #8da3eb;
                        font-size: 18px;
                    }

                    .m1 .wrapper .hot-event .hot-content .hot:hover {
                        transform: translateY(-4px);
                        -webkit-transform: translateY(-4px);
                        /*.hot-bg {
                display: block;
                animation: bottomIn .5s;
                -webkit-animation: bottomIn .5s;
              }*/
                    }

        .m1 .wrapper .jump-link {
            width: 321px;
            height: 368px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            vertical-align: middle;
            margin-top: 40px;
            position: relative;
        }

            .m1 .wrapper .jump-link .r-btn {
                display: block;
                width: 321px;
                height: 83px;
                line-height: 83px;
                font-size: 0;
                background: url(/images/jump-r-btn.png) no-repeat;
                margin-bottom: 15px;
                transition: transform 0.5s;
                -ms-transition: transform 0.5s;
                -moz-transition: transform 0.5s;
                -webkit-transition: transform 0.5s;
                text-align: center;
            }

                .m1 .wrapper .jump-link .r-btn i {
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                    width: 148px;
                    height: 26px;
                    vertical-align: middle;
                }

                .m1 .wrapper .jump-link .r-btn:hover {
                    background: url(/images/jump-r-btn-on.png) no-repeat;
                    transform: translateX(20px);
                    -webkit-transform: translateX(20px);
                    -webkit-filter: brightness(1.3);
                    filter: brightness(1.3);
                }

                .m1 .wrapper .jump-link .r-btn.btn1 i {
                    background: url(/images/jump-r-btn-txt1.png) no-repeat;
                }

                .m1 .wrapper .jump-link .r-btn.btn2 i {
                    background: url(/images/jump-r-btn-txt2.png) no-repeat;
                }

                .m1 .wrapper .jump-link .r-btn.btn3 i {
                    background: url(/images/jump-r-btn-txt3.png) no-repeat;
                }

                .m1 .wrapper .jump-link .r-btn.btn4 i {
                    background: url(/images/jump-r-btn-txt4.png) no-repeat;
                }

.m2 {
    background: url(/images/m2-bg.png) no-repeat center bottom;
    height: 625px;
    overflow: hidden;
    position: relative;
}

    .m2 .wrapper {
        height: 625px;
        overflow: visible;
        position: relative;
    }

        .m2 .wrapper .m2-content {
            width: 1920px;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -960px;
            overflow: hidden;
            padding-top: 130px;
        }

            .m2 .wrapper .m2-content h3 {
                font-size: 0;
                color: transparent;
                background: url(/images/tit-jtjs.png) no-repeat;
                width: 995px;
                height: 33px;
                position: absolute;
                top: 65px;
                left: 360px;
            }

            .m2 .wrapper .m2-content .more-btn {
                position: absolute;
                font-size: 14px;
                height: 24px;
                line-height: 24px;
                color: #95a9ee;
                right: 365px;
                top: 65px;
            }

                .m2 .wrapper .m2-content .more-btn i {
                    background: url(/images/more-btn.png) no-repeat;
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                    vertical-align: middle;
                    -webkit-transition: -webkit-transform 0.5s;
                    transition: -webkit-transform 0.5s;
                }

                .m2 .wrapper .m2-content .more-btn:hover i {
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                    transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                }

            .m2 .wrapper .m2-content .swiper-container {
                position: relative;
                width: 100%;
                height: 493px;
                overflow: visible;
            }

                .m2 .wrapper .m2-content .swiper-container .swiper-wrapper {
                    margin-left: -149px;
                    width: 10887px !important;
                }

                .m2 .wrapper .m2-content .swiper-container .swiper-slide {
                    position: relative;
                }

                    .m2 .wrapper .m2-content .swiper-container .swiper-slide .bg {
                        position: absolute;
                        top: 54px;
                        left: 0;
                        width: 100%;
                        height: 494px;
                        opacity: 0.7;
                        filter: Alpha(Opacity=70);
                        z-index: 50;
                    }

                .m2 .wrapper .m2-content .swiper-container .swiper-slide {
                    width: 640px !important;
                    height: 494px;
                }

                    .m2 .wrapper .m2-content .swiper-container .swiper-slide img {
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;
                        position: absolute;
                        width: 640px;
                        height: 494px;
                    }

                        .m2 .wrapper .m2-content .swiper-container .swiper-slide img.zy {
                            opacity: 0;
                            filter: Alpha(Opacity=0);
                        }

                    .m2 .wrapper .m2-content .swiper-container .swiper-slide.swiper-slide-active {
                        z-index: 99;
                        width: 590px !important;
                        margin-left: 440px;
                    }

                        .m2
                        .wrapper
                        .m2-content
                        .swiper-container
                        .swiper-slide.swiper-slide-active
                        .zy-bg {
                            opacity: 0;
                            filter: Alpha(Opacity=0);
                            height: 0;
                        }

                        .m2
                        .wrapper
                        .m2-content
                        .swiper-container
                        .swiper-slide.swiper-slide-active
                        .zy {
                            width: 900px;
                            height: 700px;
                            opacity: 1;
                            filter: Alpha(Opacity=100);
                            margin-top: -110px;
                            margin-left: -450px;
                        }

                        .m2
                        .wrapper
                        .m2-content
                        .swiper-container
                        .swiper-slide.swiper-slide-active
                        img.zs {
                            margin-left: -590px;
                        }

                        .m2
                        .wrapper
                        .m2-content
                        .swiper-container
                        .swiper-slide.swiper-slide-active
                        img.zs {
                            margin-left: -677px;
                        }

                        .m2
                        .wrapper
                        .m2-content
                        .swiper-container
                        .swiper-slide.swiper-slide-active
                        img.xl {
                            margin-left: -614px;
                        }

                        .m2
                        .wrapper
                        .m2-content
                        .swiper-container
                        .swiper-slide.swiper-slide-active
                        img.ys {
                            margin-left: -650px;
                        }

                        .m2
                        .wrapper
                        .m2-content
                        .swiper-container
                        .swiper-slide.swiper-slide-active
                        img.gs {
                            margin-left: -515px;
                        }

                        .m2
                        .wrapper
                        .m2-content
                        .swiper-container
                        .swiper-slide.swiper-slide-active
                        img.tsm {
                            margin-left: -611px;
                        }

                        .m2
                        .wrapper
                        .m2-content
                        .swiper-container
                        .swiper-slide.swiper-slide-active
                        img.hds {
                            margin-left: -555px;
                        }

                        .m2
                        .wrapper
                        .m2-content
                        .swiper-container
                        .swiper-slide.swiper-slide-active
                        img.sds {
                            margin-left: -633px;
                        }

                        .m2
                        .wrapper
                        .m2-content
                        .swiper-container
                        .swiper-slide.swiper-slide-active
                        img.ws {
                            margin-left: -675px;
                        }

            .m2 .wrapper .m2-content .sw-l-btn {
                position: absolute;
                top: 377px;
                left: 440px;
                background: url(/images/jt-l-btn.png) no-repeat;
                width: 39px;
                height: 77px;
                z-index: 100;
                font-size: 0px;
                -webkit-transition: transform 0.5s;
                transition: transform 0.5s;
                -webkit-animation: qd 1.5s ease-in-out infinite;
                animation: qd 1.5s ease-in-out infinite;
            }

                .m2 .wrapper .m2-content .sw-l-btn:hover {
                    opacity: 0.8;
                    filter: alpha(opacity=80);
                    -webkit-transform: translateX(5%);
                    transform: translateX(5%);
                }

            .m2 .wrapper .m2-content .sw-r-btn {
                position: absolute;
                top: 377px;
                right: 440px;
                background: url(/images/jt-r-btn.png) no-repeat;
                width: 39px;
                height: 77px;
                z-index: 100;
                font-size: 0;
                -webkit-transition: transform 0.5s;
                transition: transform 0.5s;
                -webkit-animation: tz 1.5s ease-in-out infinite;
                animation: tz 1.5s ease-in-out infinite;
            }

                .m2 .wrapper .m2-content .sw-r-btn:hover {
                    opacity: 0.8;
                    filter: alpha(opacity=80);
                    -webkit-transform: translateX(5%);
                    transform: translateX(5%);
                }

            .m2 .wrapper .m2-content .zy-content {
                position: absolute;
                width: 958px;
                height: 490px;
                overflow: hidden;
                top: 132px;
                left: 479px;
                z-index: 60;
            }

                .m2 .wrapper .m2-content .zy-content .zy-k {
                    display: none;
                    position: relative;
                }

                    .m2 .wrapper .m2-content .zy-content .zy-k.show {
                        display: block;
                    }

                    .m2 .wrapper .m2-content .zy-content .zy-k .txt {
                        position: absolute;
                        top: 60px;
                        left: 144px;
                        width: 54px;
                        height: 194px;
                        background: url(/images/jt-name-bg.png) no-repeat;
                    }

                        .m2 .wrapper .m2-content .zy-content .zy-k .txt .name-title,
                        .m2 .wrapper .m2-content .zy-content .zy-k .txt .txt-content,
                        .m2 .wrapper .m2-content .zy-content .zy-k .txt .name {
                            -webkit-animation: fadeUpIn 0.8s forwards;
                            animation: fadeUpIn 0.8s forwards;
                        }

                    .m2 .wrapper .m2-content .zy-content .zy-k .name-title {
                        width: 54px;
                        height: 194px;
                        text-align: center;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                    }

                        .m2 .wrapper .m2-content .zy-content .zy-k .name-title p {
                            position: absolute;
                            top: 45px;
                            writing-mode: vertical-lr;
                            writing-mode: tb-rl;
                            color: #fefeff;
                            font-size: 20px;
                            line-height: 54px;
                        }

.m3 {
    height: 345px;
    padding-top: 60px;
}

    .m3 .wrapper {
        height: 345px;
        position: relative;
    }

        .m3 .wrapper .game-content {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 595px;
            height: 345px;
            position: relative;
            vertical-align: top;
            font-size: 0;
        }

            .m3 .wrapper .game-content h3 {
                font-size: 0;
                color: transparent;
                display: block;
                vertical-align: middle;
                background: url(/images/tit-yxzl.png) no-repeat;
                width: 100%;
                height: 34px;
                position: relative;
            }

                .m3 .wrapper .game-content h3 .more-btn {
                    position: absolute;
                    font-size: 14px;
                    height: 24px;
                    line-height: 24px;
                    color: #95a9ee;
                    top: 5px;
                    right: 10px;
                }

                    .m3 .wrapper .game-content h3 .more-btn i {
                        background: url(/images/more-btn.png) no-repeat;
                        width: 24px;
                        height: 24px;
                        margin-right: 5px;
                        display: inline-block;
                        *display: inline;
                        *zoom: 1;
                        vertical-align: middle;
                        -webkit-transition: -webkit-transform 0.5s;
                        transition: -webkit-transform 0.5s;
                    }

                    .m3 .wrapper .game-content h3 .more-btn:hover i {
                        -webkit-transform: scale(1.3);
                        transform: scale(1.3);
                        transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                    }

            .m3 .wrapper .game-content .m3-bg {
                width: 596px;
                height: 294px;
                background: url(/images/game-content.png) no-repeat;
                margin-top: 18px;
            }

                .m3 .wrapper .game-content .m3-bg .m3-bg-bot {
                    width: 588px;
                    height: 11px;
                    background: url(/images/game-content-bot.png) no-repeat;
                    margin: 0px auto;
                }

            .m3 .wrapper .game-content .a-ul {
                width: 505px;
                padding-top: 40px;
                margin: 0px auto;
            }

                .m3 .wrapper .game-content .a-ul li {
                    margin-bottom: 20px;
                }

                    .m3 .wrapper .game-content .a-ul li .kk {
                        display: inline-block;
                        *display: inline;
                        *zoom: 1;
                        vertical-align: middle;
                        width: 140px;
                        height: 38px;
                        background: url(/images/game-tit-bg.png) no-repeat;
                        font-size: 18px;
                        line-height: 38px;
                        text-align: left;
                        padding-left: 30px;
                        font-weight: bold;
                        -webkit-transition: background-color 0.6s;
                        transition: background-color 0.6s;
                        color: #fff;
                    }

                        .m3 .wrapper .game-content .a-ul li .kk:hover {
                            color: #ffffff;
                        }

                    .m3 .wrapper .game-content .a-ul li .small-a {
                        display: inline-block;
                        *display: inline;
                        *zoom: 1;
                        vertical-align: middle;
                        height: 38px;
                        line-height: 38px;
                    }

                        .m3 .wrapper .game-content .a-ul li .small-a a {
                            display: inline-block;
                            zoom: 1;
                            font-weight: 500;
                            vertical-align: middle;
                            margin: 2px auto;
                            width: 80px;
                            color: #f4f5ff;
                            font-size: 14px;
                            text-align: center;
                        }

                            .m3 .wrapper .game-content .a-ul li .small-a a:hover {
                                color: #4a63c8;
                            }

        .m3 .wrapper .customer-service {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            margin-left: 5px;
            width: 595px;
            height: 345px;
            position: relative;
        }

            .m3 .wrapper .customer-service h3 {
                font-size: 0;
                color: transparent;
                background: url(/images/tit-service.png) no-repeat;
                width: 100%;
                height: 34px;
                display: block;
            }

            .m3 .wrapper .customer-service .m3-bg {
                width: 596px;
                height: 294px;
                background: url(/images/game-content.png) no-repeat;
                margin-top: 18px;
            }

                .m3 .wrapper .customer-service .m3-bg .m3-bg-bot {
                    width: 588px;
                    height: 11px;
                    background: url(/images/game-content-bot.png) no-repeat;
                    margin: 0px auto;
                }

            .m3 .wrapper .customer-service .a-ul {
                width: 352px;
                margin-left: 45px;
                margin-top: 25px;
                display: inline-block;
                *display: inline;
                *zoom: 1;
                vertical-align: middle;
            }

                .m3 .wrapper .customer-service .a-ul li {
                    margin-bottom: 15px;
                }

                    .m3 .wrapper .customer-service .a-ul li a {
                        display: inline-block;
                        zoom: 1;
                        font-weight: 500;
                        vertical-align: middle;
                        width: 150px;
                        color: #f4f5ff;
                        font-size: 15px;
                        background: url(/images/icp-lx.png) no-repeat center left;
                        padding-left: 15px;
                    }

                        .m3 .wrapper .customer-service .a-ul li a:hover {
                            color: #4a63c8;
                            background: url(/images/icp-lx-on.png) no-repeat center left;
                        }

            .m3 .wrapper .customer-service .br {
                width: 1px;
                height: 137px;
                border-left: 1px dotted #363c6e;
                border-right: 1px dotted #02050e;
                display: inline-block;
                *display: inline;
                *zoom: 1;
                vertical-align: middle;
                margin-top: 15px;
            }

            .m3 .wrapper .customer-service .vip-phone {
                display: inline-block;
                *display: inline;
                *zoom: 1;
                vertical-align: middle;
                width: 150px;
                margin-left: 10px;
            }

                .m3 .wrapper .customer-service .vip-phone i {
                    display: block;
                    background: url(/images/ico-phone.png) no-repeat;
                    width: 40px;
                    height: 42px;
                    margin: 0 auto 5px;
                }

                .m3 .wrapper .customer-service .vip-phone p {
                    text-align: center;
                    font-size: 14px;
                    color: #f4f5ff;
                }

            .m3 .wrapper .customer-service .cs-bot {
                border-top: 1px solid #363c6e;
                margin-top: 10px;
                position: relative;
            }

            .m3 .wrapper .customer-service .p-b {
                text-align:center;
                width: 150px;
                height: 41px;
                color: #f4f5ff;
                font-size: 14px;
                margin-left: 45px;
                margin-top: 15px;
                line-height: 24px;
            }

            .m3 .wrapper .customer-service .p-b2 {
                width: 220px;
                height: 54px;
                color: #f4f5ff;
                position: absolute;
                top: 15px;
                right: 21px;
                font-size: 14px;
                text-align: right;
                line-height: 24px;
            }

/*********�ײ�********/
/*********footer********/
.footer {
    font-size: 12px;
    color: #f4f5ff;
    padding: 40px 0 20px;
    line-height: 22px;
}

    .footer a {
        color: #f4f5ff;
    }
