Api/Connector/bin/
Api/Connector/obj/
Caching/.vs/
Caching/Caching/bin/
Caching/Caching/obj/
PlayCore/Play/PlayWebCore/bin/
PlayCore/Play/PlayWebCore/obj/
PlayCore/Play/.vs/
Api/.vs/
id/api/SqlKata.Execution/obj/
id/api/SqlKata.Execution/bin/
id/api/QueryBuilder/obj/
id/api/QueryBuilder/bin/
Tools/Tools/BotDiscord/bin/
Tools/Tools/BotDiscord/obj/
Tools/Tools/QueryBuilder/bin/
Tools/Tools/QueryBuilder/obj/
Tools/Tools/SqlKata.Execution/bin/
Tools/Tools/SqlKata.Execution/obj/
Tools/Tools/.vs/
Tools/Tools/AntiMiddleware/bin/
Tools/Tools/AntiMiddleware/obj/
id/api/BotDiscord/obj/
id/api/BotDiscord/bin/
NewPlay/bin/
NewPlay/obj/
NewPlay/.vs/
NewPlay/packages/
NewPlay/Play/packages/
News/node_modules/
Tools/Tools/AutoBackupCloud/bin/
Tools/Tools/AutoBackupCloud/obj/
Tools/Tools/packages/
news_api/NEWS_MVC/obj/
news_api/NEWS_MVC/bin/
news_api/NEWS_API/obj/
news_api/NEWS_API/bin/
NewPlay/Play/.vs/
id/api/.idea/
.vs/
Code_Structure/NEWS_API/obj/
id/api/API/wwwRoot/images-upload/
news_api/MinFile/obj/
Tools/Tools/AutoAnswer/obj/
Tools/Tools/AutoAnswer/bin/
Tools/Tools/AutoZero/bin/
Tools/Tools/AutoZero/obj/
Tools/Tools/SimpleTCP/bin/
Tools/Tools/SimpleTCP/obj/
id/api/BotDiscordNew/bin/
id/api/BotDiscordNew/obj/
AutoZero/AutoZero/bin/
AutoZero/AutoZero/obj/
AutoZero/packages/
news_api/MinFile/bin/
Middleware/FwdAccServer/bin/
Middleware/FwdAccServer/obj/
