<div class="login-page">

  <div class="login-main">


    <div class="home-page">
      <div class="login-section">


        <div class="login-section-container" id="main">

          <section id="content">
            <form class="form-login" action="" id="login" method="post">
              <input name="login" value="login" type="hidden">
              <input name="vweb_security_login_code1" value="4" type="hidden">
              <input name="vweb_security_login_code2" value="8" type="hidden">
              <input name="vweb_security_login_code3" value="53371615214242267" type="hidden">
              <h1>Đăng Nhập</h1>

              <div>
                <input type="text" class="form-input" name="username" id="username" placeholder="Tên tài khoản" [(ngModel)]="username"
                       autofocus required>
              </div>
              <div>
                <input type="password" class="form-input" name="password" id="password" placeholder="Mật khẩu"[(ngModel)]="password"
                       required="">
              </div>
              <div>
                <button class="btnn btnn-2 btnn-sep icon-send1" type="button" id="submit" name="submit" (click)="onSignIn()">Đăng nhập
                </button>
                <a [routerLink]="[routerContants.auth.register]" class="button button-blue tooltipstered">
                  <i class="fa fa-globe"></i>
                  <strong>ĐĂNG KÍ</strong>
                </a>
                <a href="index.php?mod=receive_pass1" class="button button-orange tooltipstered">
                  <i class="fa fa-clock-o"></i>
                  <strong>Quên Mật Khẩu ?</strong>
                </a>
              </div>
            </form>
            <div class="button">
              <a href="http://dl.mu-hanoi.vn" class="tooltipstered">Tải game chơi ngay</a>
            </div>
          </section>


        </div>

      </div>
    </div>


  </div>

</div>
