@{ 
    var domainID = ViewBag.ID_Domain;
}
<div class="l-div">
    <a class="download-btn" href="@ViewBag.Download_Domain" target="_blank">
        <i></i>
    </a>
    <a class="s-btn br" href="@domainID/auth/register" target="_blank">Register</a>
    <a class="s-btn cz" href="@domainID/nap-the" target="_blank">Recharge Cards</a>
    <div class="four-btn-bg">
        <a class="four-btn b1" href="javascript:alert('Gift code: zeroonline');"><i></i>Newbie GiftCode</a>
        <a class="four-btn b2" href="@domainID/auth/login"><i></i>Log in</a>
        <a class="four-btn b3" href="http://www.facebook.com/ZeroSeverVN/"><i></i>Fanpage</a>
        <a class="four-btn b4" href="https://discord.gg/pyKUHjpJBD" target="_blank"><i></i>Discord</a>
    </div>
</div>