@{ 
    var domainID = "http://id.zeroonline-vietnam.tk";
}
<div class="l-div">
    <a class="download-btn" href="http://download.zeroonline-vietnam.tk" target="_blank">
        <i></i>
    </a>
    <a class="s-btn br" href="@domainID/auth/register" target="_blank">Đăng ký</a>
    <a class="s-btn cz" href="@domainID/nap-the" target="_blank">Nạp thẻ</a>
    <div class="four-btn-bg">
        <a class="four-btn b1" href="javascript:alert('Gift code: quatanthu');"><i></i>Gift Code tân thủ</a>
        <a class="four-btn b2" href="#"><i></i>PK tuần</a>
        <a class="four-btn b3" href="http://www.facebook.com/ZeroSeverVN/"><i></i>Live Stream</a>
        <a class="four-btn b4" href="http://id.zeroonline-vietnam.tk/vong-quay" target="_blank"><i></i>Vòng quay</a>
    </div>
</div>