@{ 
    var domainID = ViewBag.ID_Domain;
}
<div class="m3">
    <div class="wrapper sec">
        <div class="game-content">
            <h3>
                Game Information
            </h3>
            <div class="m3-bg">
                <ul class="a-ul clearfix">
                    <li>
                        <a class="kk" href="@ViewBag.Intro_Domain" target="_blank">
                            Introduce
                        </a>
                        <div class="small-a">
                            <a href="@ViewBag.Intro_Domain" target="_blank">
                                Guide
                            </a>
                            <a href="@ViewBag.Download_Domain" target="_blank">
                                Download
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="kk" href="javascript:void(0);">
                            Thông tin
                        </a>
                        <div class="small-a">
                            <a href="/detail/robot-male-fusion-i" target="_blank">
                                Fusion I
                            </a>
                            <a href="/detail/robot-female-fusion-i" target="_blank">
                                Fusion II
                            </a>
                            <a href="/detail/robot-female-fusion" target="_blank">
                                Fusion III
                            </a>
                            <a href="/detail/robot-male-fusion" target="_blank">
                                Fusion IV
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="kk" href="#">
                            Detail
                        </a>
                        <div class="small-a">
                            <a href="/detail/banking-system" target="_blank">
                                Banking
                            </a>
                            <a href="/detail/boss-challenge-system" target="_blank">
                                Boss
                            </a>
                            <a href="/detail/recharge-information" target="_blank">
                                Recharge
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="kk" href="#">
                            Gift
                        </a>
                        <div class="small-a">
                            <a href="@domainID/vong-quay" target="_blank">
                                Vòng quay
                            </a>
                            <a href="@domainID/receive-VIP-bonus" target="_blank">
                                Level VIP
                            </a>
                            <a href="@domainID/gift-code" target="_blank">
                                Gift Code
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="m3-bg-bot"></div>
            </div>
        </div>
        <div class="customer-service sec">
            <h3>客户服务</h3>
            <div class="m3-bg">
                <div class="cs-top">
                    <ul class="a-ul">
                        <li>
                            <a href="#">
                                What is VIP?
                            </a>
                            <a href="#">
                                Terms of Service
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                VIP Privileges
                            </a>
                            <a href="@domainID/auth/register" target="_blank">
                                Register Service
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                How to become VIP ?
                            </a>
                            <a href="#">
                                Customer support
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Introduce VIP
                            </a>
                            <a href="#">
                                Reflect
                            </a>
                        </li>
                    </ul>
                    <div class="br"></div>
                    <div class="vip-phone">
                        <i></i>
                        <p>Customer Care：</p>
                        <p>03 66 55 44 00</p>
                    </div>
                </div>
                <div class="m3-bg-bot"></div>
                <div class="cs-bot">
                    <p class="p-b">
                        Periodic maintenance time <span>07:00 - 07:05</span>
                    </p>

                    <p class="p-b2">
                        Game works 24/7 <br />
                        Need support contact<br />
                        Admin：0366554400<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>