@{ 
    var domainID = ViewBag.ID_Domain;
}
<div class="m3">
    <div class="wrapper sec">
        <div class="game-content">
            <h3>
                Game Information
            </h3>
            <div class="m3-bg">
                <ul class="a-ul clearfix">
                    <li>
                        <a class="kk" href="@ViewBag.Intro_Domain" target="_blank">
                            Introduction
                        </a>
                        <div class="small-a">
                            <a href="@ViewBag.Intro_Domain" target="_blank">
                                Guide
                            </a>
                            <a href="@ViewBag.Download_Domain" target="_blank">
                                Download Game.
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="kk" href="javascript:void(0);">
                            Information
                        </a>
                        <div class="small-a">
                            <a href="/chi-tiet/male-pilot-1" target="_blank">
                                Robot II
                            </a>
                            <a href="/chi-tiet/female-pilot-1" target="_blank">
                                Robot II
                            </a>
                            <a href="/chi-tiet/female-pilot" target="_blank">
                                Robot III
                            </a>
                            <a href="/chi-tiet/male-pilot" target="_blank">
                                Robot IV
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="kk" href="#">
                            Details
                        </a>
                        <div class="small-a">
                            <a href="/chi-tiet/banking-system" target="_blank">
                                Bank
                            </a>
                            <a href="/chi-tiet/boss-system" target="_blank">
                                Boss
                            </a>
                            <a href="/chi-tiet/deposit-information" target="_blank">
                                Deposit Money
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="kk" href="#">
                            Gift
                        </a>
                        <div class="small-a">
                            <a href="@domainID/prize-wheel" target="_blank">
                                Wheel
                            </a>
                            <a href="@domainID/vip-reward" target="_blank">
                                VIP Milestone
                            </a>
                            <a href="@domainID/gift-code" target="_blank">
                                Gift Code
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="m3-bg-bot"></div>
            </div>
        </div>
        <div class="customer-service sec">
            <h3>客户服务</h3>
            <div class="m3-bg">
                <div class="cs-top">
                    <ul class="a-ul">
                        <li>
                            <a href="#">
                                What is a VIP game?
                            </a>
                            <a href="#">
                                Terms of Service 
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                VIP Privileges
                            </a>
                            <a href="@domainID/auth/register" target="_blank">
                                Register for the service
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                How to become a VIP?
                            </a>
                            <a href="#">
                                Customer care
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                VIP Introduction
                            </a>
                            <a href="#">
                                Complaint
                            </a>
                        </li>
                    </ul>
                    <div class="br"></div>
                    <div class="vip-phone">
                        <i></i>
                        <p>Customer care：</p>
                        <p>Fanpage Game</p>
                    </div>
                </div>
                <div class="m3-bg-bot"></div>
                <div class="cs-bot">
                    <p class="p-b">
                        Scheduled maintenance time <span>12:00 - 12:05</span>
                    </p>

                    <p class="p-b2">
                        The game operates 24/7. <br />
                        Contact the Admin.<br />
                        Fanpage Game<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>