<div class="m2">
    <div class="wrapper sec">
        <!--职业介绍-->
        <div class="m2-content">
            <h3>职业介绍</h3>
            <!--职业轮播-->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-no-swiping">
                        <img class="zy-bg" src="/images/zy-wltg-bg.png" alt="" />
                        <img class="zy wltg" src="/images/zy-wltg.png" alt="" />
                    </div>
                    <div class="swiper-slide swiper-no-swiping">
                        <img class="zy-bg" src="/images/zy-mykj-bg.png" alt="" />
                        <img class="zy mykj" src="/images/zy-mykj.png" alt="" />
                    </div>
                    <div class="swiper-slide swiper-no-swiping">
                        <img class="zy-bg" src="/images/zy-fhzs-bg.png" alt="" />
                        <img class="zy fhzs" src="/images/zy-fhzs.png" alt="" />
                    </div>
                    <div class="swiper-slide swiper-no-swiping">
                        <img class="zy-bg" src="/images/zy-sgys-bg.png" alt="" />
                        <img class="zy sgys" src="/images/zy-sgys.png" alt="" />
                    </div>
                    <div class="swiper-slide swiper-no-swiping">
                        <img class="zy-bg" src="/images/zy-lmly-bg.png" alt="" />
                        <img class="zy lmly" src="/images/zy-lmly.png" alt="" />
                    </div>
                    <div class="swiper-slide swiper-no-swiping">
                        <img class="zy-bg" src="/images/zy-zyzy-bg.png" alt="" />
                        <img class="zy zyzy" src="/images/zy-zyzy.png" alt="" />
                    </div>
                    <div class="swiper-slide swiper-no-swiping">
                        <img class="zy-bg" src="/images/zy-lysp-bg.png" alt="" />
                        <img class="zy lysp" src="/images/zy-lysp.png" alt="" />
                    </div>
                    <div class="swiper-slide swiper-no-swiping">
                        <img class="zy-bg" src="/images/zy-aysd-bg.png" alt="" />
                        <img class="zy aysd" src="/images/zy-aysd.png" alt="" />
                    </div>
                </div>
            </div>
            <a class="sw-l-btn" id="zyLBtn" href="javascript:void(0);"></a>
            <a class="sw-r-btn" id="zyRBtn" href="javascript:void(0);"></a>
            <!--职业文案-->
            <div class="zy-content" id="zyContent">
                <div class="zy-k wltg show">
                    <div class="txt">
                        <div class="name-title">
                            <p class="p1">Undead Sigh</p>
                        </div>
                    </div>
                </div>
                <div class="zy-k mykj">
                    <div class="txt">
                        <div class="name-title">
                            <p class="p1">Nightmare</p>
                        </div>
                    </div>
                </div>
                <div class="zy-k fhzs">
                    <div class="txt">
                        <div class="name-title">
                            <p class="p1">God of War</p>
                        </div>
                    </div>
                </div>
                <div class="zy-k sgys">
                    <div class="txt">
                        <div class="name-title">
                            <p class="p1">Aurora</p>
                        </div>
                    </div>
                </div>
                <div class="zy-k lmly">
                    <div class="txt">
                        <div class="name-title">
                            <p class="p1">Thunder Falcon</p>
                        </div>
                    </div>
                </div>
                <div class="zy-k zyzy">
                    <div class="txt">
                        <div class="name-title">
                            <p class="p1">Liberty</p>
                        </div>
                    </div>
                </div>
                <div class="zy-k lysp">
                    <div class="txt">
                        <div class="name-title">
                            <p class="p1">Flames</p>
                        </div>
                    </div>
                </div>
                <div class="zy-k aysd">
                    <div class="txt">
                        <div class="name-title">
                            <p class="p1">
                                Dark Abyss
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/职业介绍-->
    </div>
</div>