@{ 
    var domainID = ViewBag.ID_Domain;
}
<div class="m3">
    <div class="wrapper sec">
        <div class="game-content">
            <h3>
                Thông tin trò chơi
            </h3>
            <div class="m3-bg">
                <ul class="a-ul clearfix">
                    <li>
                        <a class="kk" href="@ViewBag.Intro_Domain" target="_blank">
                            Giới thiệu
                        </a>
                        <div class="small-a">
                            <a href="@ViewBag.Intro_Domain" target="_blank">
                                Hướng dẫn
                            </a>
                            <a href="@ViewBag.Download_Domain" target="_blank">
                                Tải game
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="kk" href="javascript:void(0);">
                            Thông tin
                        </a>
                        <div class="small-a">
                            <a href="/chi-tiet/robot-hop-the-nam-i" target="_blank">
                                Hợp thể II
                            </a>
                            <a href="/chi-tiet/robot-hop-the-nu-i" target="_blank">
                                Hợp thể II
                            </a>
                            <a href="/chi-tiet/robot-hop-the-nu" target="_blank">
                                Hợp thể III
                            </a>
                            <a href="/chi-tiet/robot-hop-the-nam" target="_blank">
                                Hợp thể IV
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="kk" href="#">
                            Chi tiết
                        </a>
                        <div class="small-a">
                            <a href="/chi-tiet/he-thong-ngan-hang" target="_blank">
                                Ngân hàng
                            </a>
                            <a href="/chi-tiet/he-thong-thach-thuc-boss" target="_blank">
                                Boss
                            </a>
                            <a href="/chi-tiet/thong-tin-nap-tien" target="_blank">
                                Nạp tiền
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="kk" href="#">
                            Quà tặng
                        </a>
                        <div class="small-a">
                            <a href="@domainID/vong-quay" target="_blank">
                                Vòng quay
                            </a>
                            <a href="@domainID/nhan-thuong-vip" target="_blank">
                                Mốc VIP
                            </a>
                            <a href="@domainID/gift-code" target="_blank">
                                Gift Code
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="m3-bg-bot"></div>
            </div>
        </div>
        <div class="customer-service sec">
            <h3>客户服务</h3>
            <div class="m3-bg">
                <div class="cs-top">
                    <ul class="a-ul">
                        <li>
                            <a href="#">
                                VIP là gì?
                            </a>
                            <a href="#">
                                Điều khoản dịch vụ
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Đặc quyền VIP
                            </a>
                            <a href="@domainID/auth/register" target="_blank">
                                Đăng ký dịch vụ
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Cách trở thành VIP?
                            </a>
                            <a href="#">
                                Chăm sóc khách hàng
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Giới thiệu VIP
                            </a>
                            <a href="#">
                                Khiếu nại
                            </a>
                        </li>
                    </ul>
                    <div class="br"></div>
                    <div class="vip-phone">
                        <i></i>
                        <p>Chăm sóc khách hàng：</p>
                        <p>03 66 55 44 00</p>
                    </div>
                </div>
                <div class="m3-bg-bot"></div>
                <div class="cs-bot">
                    <p class="p-b">
                        Thời gian bảo trì định kỳ <span>07:00 - 08:00</span>
                    </p>

                    <p class="p-b2">
                        Game hoạt động 24/7 <br />
                        Có vấn đề, liên hệ ngay<br />
                        Admin：03-66554400<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>