@{
    ViewData["Title"] = "Khai mở máy chủ Gemini";
    ViewData["RenderScript"] = "0";
}
@{ if (Env.IsDevelopment())
    {
        <link href="~/css/intro.css" rel="stylesheet" asp-append-version="true" />
    }
    else
    {
        <link href="~/css/intro.min.css?v=@NEWS_MVC.Helpers.AssemblyHelper.GetLastModify()" rel="stylesheet" />
    }
}
<div class="full-bg">

    <div class="main">
        <div class="wrapper">
            <div class="btn-area">
                <a href="@ViewBag.Download_Domain" target="_blank" class="btn-jfq" title="home"></a>
                <a href="/trang-chu" class="btn-ssjl" title="id"></a>
                <a href="@ViewBag.ID_Domain" target="_blank" class="btn-ssjl1" title="id"></a>
            </div>

        </div>
    </div>

</div>
