<div class="main-head">
  <div class="breadcrumbs1">
    <a [routerLink]="['/']" class="tooltipstered">Home</a>
    <a class="tooltipstered">Web Shop</a>
  </div>
  <h1 class="module-title">Web Shop</h1>
</div>
<div class="alert alert-primary">
  <p class="alert-caption">Note</p>
  <ul class="noted in-left-10">
    <li>After purchasing, please come and pick it up at <strong><a href="./assets/images/huong-dan-nhan-tien.png" target="_blank"
                                                     style="color: blue">NPC Received</a></strong></li>
  </ul>
</div>
<div class="main-page">
  <div class="main-left">
    <div class="main-body">
      <div class="cash-section">
        <div class="cash-form-block">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <main>
                  <div class="container-fluid bg-trasparent" style="position: relative;">
                    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                      <div class="col-md-4 mb-4" *ngFor="let item of items">
                        <div class="card h-100 shadow-lg"><img
                          [src]="host  + item.image"
                          class="card-img-top" alt="...">
                          <div class="card-body">
                            <div class="clearfix mb-3"> <span
                              class="float-end price-hp">{{item.priceStr}} Zcoin</span><span
                              class="float-start badge rounded-pill ml-2" [ngClass]="item.qty > 0 ? 'bg-primary' : 'bg-secondary'"> Remaining: {{item.qty}}</span></div>
                            <h5 class="card-title">{{item.name}}</h5>
                            <div class="text-center my-4"><a href="javascript:void(0);" style="border-radius:100px" class="btn btn-secondary" *ngIf="item.qty == 0">Out of stock</a></div>
                            <div class="text-center my-4"><a href="javascript:void(0);" (click)="buyItem(item)" title="Click là mua luôn, không cần xác nhận" class="btn btn-warning" *ngIf="item.qty > 0">Buy now</a></div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </main>
              </div>
              <div class="col-md-4">
                <table class="table table-striped table-red" *ngIf="histories.length > 0">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Lịch sử</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let history of histories; let i = index;">
                    <td>{{i + 1}}</td>
                    <td><b>{{history.charName}}</b> mua <b>{{history.itemName}}</b> {{fromNow(history.createdDate)}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <span class="break"></span>
    </div>
  </div>
</div>
