<!--Begin Showtip-->
<img id="dhtmlpointer" src="/assets/HT/show/tooltiparrow.gif">
<!--End Showtip-->

<div class="wrap-fluid ">
  <div class="content">
    <div class="container">
      <div class="topuser">

        <div class="links">
          <ul class="menu1 cleafix">
            <li>
              <a href="https://zeroonlinvn.com" target="_blank">Trang chủ</a>

            </li>
            <li>
              <a href="https://download.zeroonlinevn.com" target="_blank">Tải Game</a>
            </li>
            <li class="parent"><a href="javascript:void(0)">Cộng Đồng</a>
              <ul class="children">
                <li><a href="https://www.facebook.com/ZeroSeverVN" target="_blank">Facebook</a></li>
                <li><a href="https://www.facebook.com/groups/ZeroOnlineVN" target="_blank">Nhóm Facebook</a></li>

              </ul>
            </li>
            <li class="parent">
              <a href="https://zeroonlinevn.com" target="_blank">Tin Tức</a>

            </li>

          </ul>
        </div>
        <span class="welcome"></span>
      </div>
      <div class="col-right">
        <div class="right-content">
          <div id='hienthi'>

          <app-non-login></app-non-login>

          </div>
        </div>
      </div>
    </div> <!--end main-left-->


  </div> <!--end main-block-->
</div>

<!--Menu khi xem DT-->
<div class="barBot">


</div>

<div class="popupCenter">
  <p class="popupCaption">Popup</p>
  <i class="popupClose"></i>
  <div class="popupContent">

  </div>
</div>
<div class="loading"></div>
<div class="blackBg"></div>

<div id='dialog-message' title='Hệ thống Web tài khoản' style='display: none'>
  <div style='float:left; margin:0 7px 60px 0;'>
    <div id='dialog-content'></div>
  </div>
</div>

<div class="footer">
  <p>Copyright © Mu Hà Nội Season 6. All rights reserved.<br/>Phát triển bởi Mu Hà Nội 2020</p>
</div>
