<div class="main-head">
  <div class="breadcrumbs1">
    <a [routerLink]="['/']" class="tooltipstered">Home</a>
    <a [routerLink]="routerContants.card.napThe" class="tooltipstered">Recharge Card</a>
  </div>
  <h1 class="module-title">Recharge scratch cards</h1>
  <div class="page-tabs">

    <div class="tab active"><a [routerLink]="routerContants.card.ATM" class="tooltipstered">Deposit via bank <sup
      id="award_un"
      class="badge badge-green">+5%
      Zcoin</sup></a></div>
    <div class="tab"><a [routerLink]="routerContants.card.napThe" class="tooltipstered">Recharge viettel card</a></div>
    <div class="tab"><a [routerLink]="routerContants.card.history" class="tooltipstered">Support list</a></div>
  </div>
  <div class="alert alert-primary">
    <div class="alert-caption">Note</div>
    <ul class="alert-list">
      <li>Top up ATM with promotion to main account</li>
      <li>Browser time 1 to 2 minutes</li>
      <li>Please take a photo of the invoice after transferring and send it to the Admin if the money has not been added after 2 to 3 minutes</li>
      <li>Click on the QR image and use the QR scanning function on the app to enter information faster and more accurately</li>
      <li style="color: red;font-weight: bold">After transferring, please take a photo of the invoice and click to confirm the transfer for Admin to check</li>

    </ul>

  </div>
  <div class="text-center w-100" style="margin-left: 40%;padding-bottom: 10px;margin: 5px; font-size: 22px;">
    <div class="col-md-3">
        <span>Photo of money transfer bill</span>
    </div>
    <div class="col-md-3">
      <input type="file" id="file-upload" placeholder=""  class="form-control">
      <button class="btn btn-success" style="font-size: 22px" (click)="onConfirm()">Transfer confirmation</button>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="section-content">
    <div class="charge">
      <div class="charge-form charge-bank">
        <div class="logo-bank">
          <span  class="bank-item momo"><img  src="/assets/HT/images/mb.png" alt=""></span>
        </div>

        <div class="bank-tabs">
          <div class="tab active">
            <div class="form">
              <div class="promo">Recharge via <span>ATM</span> get extra promotion <strong>+5%</strong></div>
              <ul class="list-form form-charge">
                <li id="chonthe">
                  <span class="label">Account number</span>
                  <div class="value">0366554400</div>
                </li>
                <li>
                  <span class="label">Account holder</span>
                  <div class="value">LÝ TRỌNG THUẦN</div>
                </li>
                <li>
                  <span class="label">Bank</span>
                  <div class="value">Military bank - MBBANK</div>
                </li>
              </ul>
              <blockquote>
                <div class="cap">Note:</div>
                <ul class="cont">
                  <li>When transferring money, please specify the following information: <strong class="transfer-text"> {{username}} ZCoin</strong></li>
                </ul>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="break"></span>
  <div class="section-content" id="momo_pay">
    <div class="charge">
      <div class="charge-form charge-bank">
        <div class="logo-bank">
          <span  class="bank-item momo"><img width="130" src="/assets/HT/images/momo.png" alt=""></span>
        </div>

        <div class="bank-tabs">
          <div class="tab active">
            <div class="form">
              <div class="promo">Recharge via <span>ATM</span> get extra promotion <strong>+5%</strong></div>
              <ul class="list-form form-charge">
                <li id="chonthe">
                  <span class="label">Account number</span>
                  <div class="value">03 6655 4400</div>
                </li>
                <li>
                  <span class="label">Account holder</span>
                  <div class="value">LÝ TRỌNG THUẦN</div>
                </li>
                <li>
                  <span class="label">App</span>
                  <div class="value">Wallet MOMO</div>
                </li>
              </ul>
              <blockquote>
                <div class="cap">Note:</div>
                <ul class="cont">
                  <li>When transferring money, please specify the following information: <strong class="transfer-text"> {{username}} ZCoin</strong></li>
                </ul>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

