/*
 * Author: clovis(706706)
 * Version: 0.1.0
 * Compile Date: 2020-11-10 17:43
*/
@charset "gb2312";
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
fieldset,
form,
tr,
th,
td,
center,
input,
button,
textarea,
* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    color: #9b9b9b;
    background: #27314a;
}

img {
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
textarea,
select {
    outline: none;
}

a {
    color: #9b9b9b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    font-size: 0;
    height: 0;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}

.hidden {
    line-height: 99999px;
    overflow: hidden;
}

.relative {
    position: relative;
}

.l {
    float: left;
}

.r {
    float: right;
}

.blue {
    color: #56708e;
}

.purple {
    color: #4e3256;
}

.mb_8 {
    margin-bottom: 8px;
}

.cmsTable {
    width: 100%;
}

.wapper {
    width: 1002px;
    margin: 0 auto;
}

/*-----------主体内容样式开始------------------*/
.full_bg {
    background: url(./jz/images/120514/index/full_bg.jpg) center top no-repeat;
}

.header1,
.header2,
.header3 {
    height: 141px;
}

.header1 {
    background: url(./jz/images/120514/index/header1.jpg) no-repeat;
}

/*.logo{ display:block; width:200px; height:110px; position:absolute; left:30px; top:145px }*/
/*------导航样式---------*/
.nav {
    height: 45px;
    padding-left: 110px;
    padding-top: 30px;
}

.nav li {
    float: left;
    width: 95px;
    height: 50px;
}

.nav li a.hidden {
    display: block;
    width: 95px;
    height: 50px;
}

.nav li a.hidden:hover {
    /* background: url(./jz/images/120514/index/nav.gif) no-repeat 42px 35px; */
}

.nav li.n1 a.hidden:hover {
    /* background: url(./jz/images/120514/index/nav.gif) no-repeat 32px 35px; */
}

.sed_nav {
    display: none;
    width: 834px;
    height: 44px;
    line-height: 44px;
    background: url(./jz/images/120514/index/nav.gif) 0 -84px repeat-x;
    position: absolute;
    text-align: center;
    color: #1c84e3;
}

.sed_nav a {
    color: #1c84e3;
    margin: 0 5px;
}

.sed_nav1 {
    left: -122px;
}

.sed_nav2 {
    left: -217px;
}

.sed_nav3 {
    left: -312px;
}

.sed_nav3 span {
    display: inline-block;
}

.third_nav {
    height: 41px;
    padding: 0 5px;
    position: absolute;
    top: 35px;
    display: none;
    width: 460px;
    left: -210px;
}

.third_nav a {
    color: #44637f;
    display: inline-block;
    background: url(./jz/images/120514/index/nav.gif) no-repeat 0 -38px;
    padding-left: 10px;
}

.third_nav div {
    line-height: 27px;
    text-align: left;
    background: #010608; /*background:url(./jz/images/120514/index/nav.gif) repeat-x 0 -142px*/
    padding: 0 10px;
}

/*.third_nav1{ width:450px; left:-200px}
.third_nav2{ width:590px; left:-270px}
.third_nav3{ width:860px; left:-410px}*/
.sharp {
    display: block;
    width: 29px;
    height: 14px;
    overflow: hidden;
    background: url(./jz/images/120514/index/nav.gif) no-repeat 0 -128px;
    position: relative;
    top: 2px;
    margin: 0 auto;
}

.sed_nav4 {
    left: -407px;
}

.sed_nav5 {
    left: -502px;
}

.sed_nav6 {
    left: -597px;
}

.sed_nav7 {
    left: -692px;
}

/*------导航样式End---------*/
.header2 {
    background: url(./jz/images/120514/index/header2.jpg) no-repeat;
}

.header3 {
    background: url(./jz/2012/11/01/header3_2.jpg) no-repeat;
}

/*------顶部模块样式---------*/
.cont_t {
    background: url(./jz/images/120514/index/cont_t.jpg) no-repeat;
    height: 440px;
}

.cont_b_btn1,
.cont_b_btn2,
.cont_b_btn3 {
    display: block;
    width: 206px;
    height: 109px;
    background: url(./jz/images/120514/index/cont_t_btns.jpg) no-repeat 99999px 0;
    position: absolute;
    top: 18px;
}

.cont_b_btn1 {
    left: 33px;
}

.cont_b_btn2 {
    left: 241px;
}

.cont_b_btn3 {
    left: 449px;
}

.cont_b_btn1:hover {
    background-position: -2px -1px;
}

.cont_b_btn2:hover {
    background-position: -210px -1px;
}

.cont_b_btn3:hover {
    background-position: -418px -1px;
}

#flashlbDiv {
    width: 630;
    height: 315px;
    position: absolute;
    left: 27px;
    top: 120px;
}

.apple_icon {
    width: 306px;
    height: 369px;
    position: absolute;
    right: 15px;
    top: 64px;
}

/*------顶部模块样式End----------*/

/*------内容样式---------*/
.cont {
    background: url(./jz/images/120514/index/cont_m.jpg) 14px 0 repeat-y;
}

.cont_b {
    background: url(./jz/images/120514/index/cont_b.jpg) 14px bottom no-repeat;
    padding: 5px 0 80px 25px;
}

.cont_l {
    width: 645px;
    overflow: hidden;
}

.cont_l .clearfix {
    height: 277px;
}

.box {
    width: 312px;
    background: url(./jz/images/120514/index/column_m1.jpg) repeat-y;
    margin-right: 8px;
    overflow: hidden;
}

.box_t {
    background: url(./jz/images/120514/index/column_t1.jpg) left top no-repeat;
    height: 50px;
}

.box_b {
    background: url(./jz/images/120514/index/column_b1.jpg) left bottom no-repeat;
    padding: 0 10px 10px;
    zoom: 1;
}

.ti {
    background: url(./jz/images/120514/index/title0325.jpg?) no-repeat;
    width: 110px;
    height: 27px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    line-height: 99999px;
    overflow: hidden;
}

.ti1 {
    background-position: 0 0;
}

.ti2 {
    background-position: 0 -27px;
}

.ti3 {
    background-position: 0 -54px;
}

.ti4 {
    background-position: 0 -81px;
}

.ti5 {
    background-position: 0 -108px;
}

.ti6 {
    background-position: 0 -135px;
}

.ti7 {
    background-position: 0 -162px;
}

.ti8 {
    background-position: 0 -189px;
}

.ti9 {
    background-position: 0 -217px;
    height: 26px;
}

.ti10 {
    background-position: 0 -243px;
    width: 105px;
    height: 32px;
}

.ti11 {
    width: 134px;
    height: 33px;
    background-position: 0 -275px;
}

.ti12 {
    width: 143px;
    height: 33px;
    background-position: 0 -308px;
}

.ti11,
.ti12,
.ti14 {
    height: 33px;
    margin: 7px auto 7px;
    float: none;
}

.ti13 {
    background-position: 0 -341px;
}

.ti14 {
    width: 96px;
    height: 33px;
    background-position: 0 -308px;
}

.tab_box {
    border-bottom: 1px dotted #fff;
    padding-bottom: 7px;
    margin-bottom: 9px;
    zoom: 1;
}

.tab_ti {
    height: 30px;
    padding-bottom: 5px;
}

.tab_ti li {
    float: left;
    width: 62px;
    height: 30px;
    background: url(./jz/images/120514/index/btn.gif) no-repeat -62px 0;
    text-align: center;
    line-height: 28px;
    color: #cbcbcb;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 3px;
}

.tab_ti li.on {
    background-position: 0 0;
}

.tab_cont ol {
    display: none;
}

.tab_cont ol table {
    width: 100%;
}

.tab_cont ol td {
    white-space: nowrap;
}

.more {
    display: block;
    width: 89px;
    height: 37px;
    background: url(./jz/images/120514/index/more.jpg) no-repeat;
    text-align: center;
    color: #56708e;
    line-height: 37px;
}

.tab_cont ol .more {
    position: absolute;
    right: -10px;
    top: -50px;
}

.search {
    width: 297px;
    height: 89px;
    background: url(./jz/images/120514/index/search.gif) no-repeat;
    margin: 0 auto;
}

.form_box {
    clear: both;
    padding-top: 10px;
    padding-left: 20px;
}

.txt_input {
    background: #090c11;
    border: none;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    width: 192px;
    color: #898989;
}

.submit_btn {
    width: 62px;
    height: 30px;
    border: 0;
    background: url(./jz/images/120514/index/btn.gif) no-repeat 0 -60px;
    color: #5cb1f2;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
}

.act {
    padding-bottom: 21px;
    padding-top: 6px;
}

.act img {
    width: 129px;
    height: 116px;
    border: 1px solid #606e75;
}

.pic_share img {
    border: 1px solid #606e75;
    width: 138px;
    height: 91px;
}

.act a:hover img,
.pic_share a:hover img {
    border: 1px solid #dfff7e;
}

.jt {
    clear: both;
    background: url(./jz/images/120514/index/jt.jpg) no-repeat;
    width: 613px;
    height: 146px;
    padding-left: 20px;
    padding-top: 20px;
}

.box_b textarea {
    width: 280px;
    height: 31px;
    overflow-y: auto;
}

.pic_share .tab_ti li {
    width: 70px;
    background-position: -70px -30px;
}

.pic_share .tab_ti li.on {
    background-position: 0 -30px;
}

.pic_share .tab_box {
    border: 0;
    margin-bottom: 0;
}

.pic_share table {
    width: 100%;
}

.pic_share td {
    padding-bottom: 8px;
    text-align: center;
}

.pic_share td img {
    width: 138px;
    height: 103px;
}

.upload {
    display: block;
    width: 92px;
    height: 30px;
    text-align: center;
    color: #5cb1f2;
    line-height: 30px;
    background: url(./jz/images/120514/index/btn.gif) no-repeat 0 -90px;
    margin: 8px auto 0;
}

#share_cont {
    height: 153px;
    overflow: hidden;
}

.lz {
    padding-top: 35px;
    padding-bottom: 18px;
}

.pk_box .box_b {
    height: 210px;
    line-height: 18px;
    overflow: hidden;
}

.pk_box .box_b .btn_submit {
    cursor: pointer;
}

.cont_r {
    width: 319px;
}

.cont_r .box {
    width: 309px;
    background: url(./jz/images/120514/index/column_m2.jpg) repeat-y;
    margin-right: 8px;
}

.cont_r .box_t {
    background: url(./jz/images/120514/index/column_t2.jpg) left top no-repeat;
    height: 50px;
}

.cont_r .box_b {
    background: url(./jz/images/120514/index/column_b2.jpg) left bottom no-repeat;
    padding: 0 10px 10px;
}

.cont_r .more {
    background-position: 0 -37px;
    color: #4e3256;
}

.box_purple .box_b {
    padding-bottom: 13px;
}

.sub_title {
    width: 90px;
    height: 30px;
    background: url(./jz/images/120514/index/btn.gif) no-repeat 0 -120px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #fff;
}

.tool {
    height: 30px;
    text-align: center;
}

.tool a {
    display: inline-block;
    width: 72px;
    height: 28px;
    margin: 0 5px;
    color: #c6a2ff;
    text-align: center;
    line-height: 28px;
    background: url(./jz/images/120514/index/btn.gif) no-repeat -52px -150px;
}

.faq_form {
    height: 28px;
}

.faq_form span {
    float: left;
    width: 167px;
    padding: 0 5px;
    height: 28px;
    background: url(./jz/images/120514/index/btn.gif) no-repeat 0 -180px;
    margin-right: 3px;
}

.faq_form span input {
    width: 167px;
    border: 0;
    height: 28px;
    line-height: 28px;
    background: none;
}

.faq_form .search_input,
.faq_form .tw_btn {
    float: left;
    width: 52px;
    height: 30px;
    background: url(./jz/images/120514/index/btn.gif) no-repeat 0 -150px;
    line-height: 30px;
    text-align: center;
    border: 0;
    cursor: pointer;
    color: #c6a2ff;
}

#help_cont .tab_box {
    width: 289px;
    height: 80px;
    overflow: hidden;
}

.vip {
    clear: both;
    margin-left: 3px;
    width: 302px;
    line-height: 18px;
}

.vip_t {
    background: url(./jz/images/120514/index/vip_t.gif) no-repeat;
    height: 10px;
    overflow: hidden;
}

.vip_b {
    clear: both;
    background: url(./jz/images/120514/index/vip_b.gif) 1px bottom no-repeat;
    height: 26px;
}

.vip_m {
    float: left;
    width: 302px;
    background: url(./jz/images/120514/index/vip_m.gif) repeat-y;
}

.vip_m .tab_box {
    width: 240px;
    margin: 0 auto;
    border-color: #2c2c2c;
}

.vip_m a {
    display: inline-block;
    width: 115px;
}

/*YY广告*/
#yyguanggao {
    width: 309px;
    height: 84px;
}

.footer {
    padding-top: 20px;
    padding-bottom: 10px;
}

/*------内容样式End---------*/

/*弹窗广告*/
#tc {
    background: url(./jz/images/120514/index/tc_bg.gif) no-repeat;
    width: 323px;
    height: 250px;
    position: relative;
    padding: 110px 0 0 34px;
    color: #fff;
    font-size: 12px;
    overflow: hidden;
}

#tc a {
    color: #fff;
    text-decoration: none;
}

#tc a:hover {
    text-decoration: underline;
}

#closed {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 317px;
    top: 36px;
}

#tc div {
    float: left;
}

#tc ul,
#tc li {
    padding: 0;
    margin: 0;
}

#tc ul {
    width: 323px;
    padding-top: 8px;
    line-height: 22px;
    list-style: none;
    padding-left: 15px;
}

#tc li {
    width: 143px;
    text-align: left;
    float: left;
}

.tc_1 {
    width: 320px;
    line-height: 20px;
}

.tc_1 img {
    border: 1px #1d3452 solid;
    padding: 1px;
    background: #17263b;
}

.tc_1 a:hover img {
    border: 1px #999 solid;
}

.tc_1 td {
    text-align: left;
}

.tc_3 {
    width: 330px;
    line-height: 20px;
    padding: 14px 0 0 8px;
    overflow: hidden;
}

.tc_3 td {
    text-align: left;
}

.tc_3 table {
    width: 300px;
}

.tc_4 {
    text-align: left;
    padding-top: 15px;
    position: relative;
    left: -25px;
}

.tc_4 a {
    display: inline-block;
    width: 82px;
    height: 28px;
    margin: 0;
    padding: 0;
}

/*视频弹窗 2012-05-17*/
.radio {
    background: #000000;
    position: absolute;
    z-index: 999;
    top: 600px;
    left: 40%;
    width: 295px;
    height: 183px;
    padding: 30px 10px 10px 10px;
}

.radio a {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    left: 295px;
    top: 0px;
    text-decoration: none;
}

.radio a:hover {
    text-decoration: none;
}

/*轮播 2012-05-21*/
.column {
    background: url(./jz/img/2012/05/21/jt.jpg) no-repeat;
    height: 178px;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 6px;
    position: relative;
    width: 613px;
}

.flash_tab {
    left: 9px;
    position: absolute;
    top: 0;
}

.flash_tab li {
    padding-right: 2px;
    float: left;
}

.flash_tab a {
    display: block;
    height: 30px;
    width: 65px;
    text-indent: -999em;
}

.on {
    background: url(./jz/img/2012/05/21/tab_on.jpg) no-repeat -6px 0;
    width: 63px;
}

.on1 {
    background: url(./jz/img/2012/05/21/tab_on.jpg) no-repeat -72px 0;
    width: 65px;
}

.on2 {
    background: url(./jz/img/2012/05/21/tab_on.jpg) no-repeat -140px 0;
    width: 65px;
}

.rc_op {
    height: 26px;
    float: right;
    width: 75px;
}

.flash_tab_con {
    overflow: hidden;
    width: 603px;
}

.font1 {
    color: #f2e510;
    font-weight: bold;
}

.to {
    height: 8px;
}

.STYLE1 {
    padding-left: 24px;
    background: url(./jz/images/090701/index/ico4.gif) no-repeat 5px;
    font-weight: bold;
}

#zhaopian table {
    width: 100%;
}

body {
    background-color: #221715;
}

.box_b .tab_box .cmsTable td a {
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.host_search {
    width: 630px;
    height: 271px;
}

.logo {
    position: absolute;
    right: 15px;
    top: 100px;
}

.logo img {
    width: 350px;
}

/*2018 06 13换肤*/
.full_top {
    background: url(./jz/images/210129/index/full_top.jpg) center top no-repeat;
}

.full_btm {
    background: url(./jz/images/210129/index/full_btm.jpg) center 382px no-repeat;
}

.header1 {
    background: url(./jz/images/210129/index/header_01.jpg) no-repeat;
    height: 135px;
}

.header2 {
    background: url(./jz/images/210129/index/header_02.jpg) no-repeat;
    height: 135px;
}

.header3 {
    background: url(./jz/images/210129/index/header_03.jpg) no-repeat;
    height: 135px;
}

.cont {
    background: url(./jz/images/210129/index/cont_ms.jpg) no-repeat;
}

.cont_t {
    background: url(./jz/images/210129/index/cont_t.jpg) no-repeat 1px 0;
    height: 440px;
}

.cont_b {
    background: none;
}

.footer {
    background: none;
}

.apple_icon {
    width: 310px;
    height: 339px;
    position: absolute;
    right: 25px;
    top: 90px;
    overflow: hidden;
}

.swiper-slide {
    width: 310px;
    height: 369px;
}

.apple_icon a {
    display: inline-block;
    width: 98px;
    text-align: center;
    color: #a273b4;
    font-size: 13px;
    font-weight: bold;
    height: 110px;
}

.apple_icon a:hover {
    text-decoration: none;
}

.apple_icon a img {
    display: block;
    margin: 0px auto;
}

.pagination {
    position: absolute;
    z-index: 20;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #555;
    margin: 0 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}

.swiper-active-switch {
    background: #fff;
}

.btn-area {
    width: 666px;
    height: 129px;
    position: relative;
}

.lunbo {
    width: 630px;
    height: 315px;
    margin-left: 25px;
    position: relative;
}

.lunbo .page {
    position: absolute;
    text-align: center;
    height: 15px;
    width: 230px;
    bottom: 20px;
    right: 10px;
    z-index: 100;
}

.lunbo .page li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 30px;
    text-align: center;
    height: 15px;
    background: #10316a;
    line-height: 15px;
    color: #77c4fc;
    margin: 0px 5px;
    cursor: pointer;
}

.lunbo .page li.on {
    background: #5201c1;
}

.line1 {
    position: relative;
    width: 645px;
    height: 419px;
    margin-top: 10px;
}

.line2 {
    position: relative;
}

.line3 {
    position: relative;
    width: 645px;
    height: 277px;
    margin-bottom: 10px;
}

.line4 {
    position: relative;
}

.badge-primary {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: super;
}

.tin-tuc,
.thong-bao {
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    padding: 0px 5px;
    margin-top: -7px;
}

.sticky {
    color: red;
}

.event-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 225px;
}

.text-center {
    text-align: center !important;
}
