<div class="main-head">
  <div class="breadcrumbs1">
    <a [routerLink]="['/']" class="tooltipstered">Trang Chủ</a>
    <a  class="tooltipstered">Đổi mật khẩu</a>
  </div>
  <h1 class="module-title">Đổi mật khẩu</h1>
</div>

<div class="main-page">
  <div class="main-left">
    <div class="main-body">
      <div class="cash-section">
        <div class="cash-form-block" style="max-width: 500px; margin: 0 auto;">

          <div class="form-box">
            <input id="oldPassword" class="form-input" required="" [(ngModel)]="oldPassword" type="password">
            <label for="oldPassword">Mật khẩu cũ</label>
          </div>
          <div class="form-box">
            <input id="newPassword" class="form-input" required="" [(ngModel)]="newPassword" type="password">
            <label for="newPassword">Mật khẩu mới</label>
          </div>
          <div class="form-box">
            <input id="rePassword" class="form-input" required="" [(ngModel)]="rePassword" type="password">
            <label for="rePassword">Nhập lại mật khẩu mới</label>
          </div>
        </div>
      </div>

      <span class="break"></span>
      <div class="act-btn">
        <button class="btn btn-primary btn-lg btn-block" id="btn_napthe" type="button" (click)="changePassword()">Đổi mật khẩu
        </button>
      </div>
      <br>
      <div id="msg_napthe"></div>
    </div>
    <div class="form-box text-center">
      <p style="font-size: 22px; font-weight: bold;color: red;">Sau khi đổi mật khẩu bạn sẽ trở lại trang đăng nhập</p>
    </div>
  </div>
</div>
