<div class="main-head">
  <div class="breadcrumbs1">
    <a [routerLink]="['/']" class="tooltipstered">{{ 'CHANGE_PASSWORD.BREADCRUMB_HOME' | translate }}</a>
    <a  class="tooltipstered">{{ 'CHANGE_PASSWORD.BREADCRUMB_CUR' | translate }}</a>
  </div>
  <h1 class="module-title">{{ 'CHANGE_PASSWORD.TITLE' | translate }}</h1>
</div>

<div class="main-page">
  <div class="main-left">
    <div class="main-body">
      <div class="cash-section">
        <div class="cash-form-block" style="max-width: 500px; margin: 0 auto;">

          <div class="form-box">
            <input id="oldPassword" class="form-input" required="" [(ngModel)]="oldPassword" type="password">
            <label for="oldPassword">{{ 'CHANGE_PASSWORD.OLD_PW' | translate }}</label>
          </div>
          <div class="form-box">
            <input id="newPassword" class="form-input" required="" [(ngModel)]="newPassword" type="password">
            <label for="newPassword">{{ 'CHANGE_PASSWORD.NEW_PW' | translate }}</label>
          </div>
          <div class="form-box">
            <input id="rePassword" class="form-input" required="" [(ngModel)]="rePassword" type="password">
            <label for="rePassword">{{ 'CHANGE_PASSWORD.RE_NEW_PW' | translate }}</label>
          </div>
        </div>
      </div>

      <span class="break"></span>
      <div class="act-btn">
        <button class="btn btn-primary btn-lg btn-block" id="btn_napthe" type="button" (click)="changePassword()">{{ 'CHANGE_PASSWORD.CHANGE_BTN' | translate }}
        </button>
      </div>
      <br>
      <div id="msg_napthe"></div>
    </div>
    <div class="form-box text-center">
      <p style="font-size: 22px; font-weight: bold;color: red;">{{ 'CHANGE_PASSWORD.WARNING' | translate }}</p>
    </div>
  </div>
</div>
