<div class="main-head">
  <div class="breadcrumbs1">
    <a [routerLink]="['/']" class="tooltipstered">Home</a>
    <a  class="tooltipstered">Gift Code</a>
  </div>
  <h1 class="module-title">Get Gift Code</h1>
</div>
<div class="alert alert-primary">
  <p class="alert-caption">Note</p>
  <ul class="noted in-left-10">
    <li>Each Gift Code can only be received <strong>1 times</strong> for once</li>
  </ul>
</div>
<div class="main-page">
  <div class="main-left">
    <div class="main-body">
      <div class="cash-section">
        <div class="cash-form-block" style="max-width: 500px; margin: 0 auto;">

          <div class="form-box">
            <input id="giftCode" class="form-input" required="" [(ngModel)]="giftCode" type="text">
            <label for="giftCode">Gift Code</label>
          </div>
        </div>
      </div>

      <span class="break"></span>
      <div class="act-btn">
        <button class="btn btn-primary btn-lg btn-block" type="button" (click)="receive()">Get Gift Code
        </button>
      </div>
    </div>
    <div class="form-box text-center">
      <p style="font-size: 22px; font-weight: bold;color: red;">After receiving the GiftCode, please go to the NPC to receive the item</p>
      <img src="./assets/images/huong-dan-nhan-tien.png" alt="">
    </div>
  </div>
</div>
