<div class="main-head">
  <div class="breadcrumbs1">
    <a [routerLink]="['/']" class="tooltipstered">{{ 'REWARD.HOME' | translate }}</a>
    <a  class="tooltipstered">{{ 'REWARD.GIFT_CODE' | translate }}</a>
  </div>
  <h1 class="module-title">{{ 'REWARD.GIFT_CODE_RECEIVE' | translate }}</h1>
</div>
<div class="alert alert-primary">
  <p class="alert-caption">{{ 'TOPUP.NOTE' | translate }}</p>
  <ul class="noted in-left-10">
    <li>{{ 'REWARD.GIFT_CODE_NOTE' | translate }}</li>
  </ul>
</div>
<div class="main-page">
  <div class="main-left">
    <div class="main-body">
      <div class="cash-section">
        <div class="cash-form-block" style="max-width: 500px; margin: 0 auto;">

          <div class="form-box">
            <input id="giftCode" class="form-input" required="" [(ngModel)]="giftCode" type="text">
            <label for="giftCode">{{ 'REWARD.GIFT_CODE' | translate }}</label>
          </div>
        </div>
      </div>

      <span class="break"></span>
      <div class="act-btn">
        <button class="btn btn-primary btn-lg btn-block" type="button" (click)="receive()">{{ 'REWARD.GIFT_CODE_RECEIVE' | translate }}
        </button>
      </div>
    </div>
    <div class="form-box text-center">
      <p style="font-size: 22px; font-weight: bold;color: red;">{{ 'REWARD.GIFT_POST_NOTE' | translate }}</p>
      <img src="./assets/images/huong-dan-nhan-tien.png" alt="">
    </div>
  </div>
</div>
