<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdvancedStringBuilder" version="0.1.0" targetFramework="net472" />
  <package id="NUglify" version="1.13.10" targetFramework="net472" />
  <package id="System.Buffers" version="4.0.0" targetFramework="net472" />
  <package id="WebMarkupMin.Core" version="2.9.0" targetFramework="net472" />
  <package id="WebMarkupMin.NUglify" version="2.10.0" targetFramework="net472" />
</packages>