<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="IpServer" value="27.75.96.49"/>
    <add key="IpMid" value="127.0.0.1"/>
    <add key="PortLoginServer" value="9958"/>
    <add key="PortGameServer" value="5816"/>
    <add key="PortLoginMid" value="9958"/>
    <add key="PortGameMid" value="5816"/>
  </appSettings>
</configuration>