<div class="main-head">
  <div class="breadcrumbs1">
    <a [routerLink]="['/']" class="tooltipstered">{{ 'REWARD.HOME' | translate }}</a>
    <a [routerLink]="['/']" class="tooltipstered">{{ 'REWARD.BREADCRUMB' | translate }}</a>
    <a class="active tooltipstered" href="#">{{ 'REWARD.VIP_TITLE' | translate }}</a>

  </div>
  <h1 class="module-title">{{ 'REWARD.VIP_TITLE' | translate }}</h1>
</div>
<div class="alert alert-primary">
  <p class="alert-caption">{{ 'TOPUP.NOTE' | translate }}</p>
  <ul class="noted in-left-10">
    <li><strong>Điều kiện</strong> : {{ 'REWARD.VIP_NOTE_1' | translate }}</li>
    <li><strong>{{ 'REWARD.NPC_NOTE' | translate }}</strong></li>
    <li><strong>{{ 'REWARD.NPC_CLICK' | translate }}</strong> : <strong><a href="./assets/images/huong-dan-nhan-tien.png" target="_blank" style="color: blue">{{ 'REWARD.NPC_NAME' | translate }}</a></strong></li>
  </ul>
</div>
<div class="main-body">
  <div class="out-top-20">
    <table class="table table-striped table-red">
      <thead>

      <tr bgcolor="#FFFFFF">
        <th align="center"><b>{{ 'REWARD.VIP_LEVEL' | translate }}</b></th>
        <th align="center" width="500"><b>{{ 'REWARD.REWARD_ITEM' | translate }}</b></th>
        <th align="center"><b>{{ 'REWARD.RECEIVE_BTN' | translate }}</b></th>
      </tr>

      </thead>

      <tbody>

      <tr bgcolor="#FFFFFF" *ngFor="let reward of rewards">
        <td align="center">
          <img [src]='"./assets/images/vip/vip" + reward.id + ".png"' alt="">
        </td>
        <td align="center" width="500"><span class="tag1 tag1-time">{{reward.name}}</span><img style="padding-left: 10px"
          [src]="'./assets/images/tich-luy-nhan-qua/vip/' + reward.id + '.png'" [alt]="reward.name"><br></td>
        <td align="center">
          <div class="group-popup2">
            <div class="box-popup box-popup-red" ></div>
            <input *ngIf="reward.status === 0" [value]="'REWARD.NOT_REACHED' | translate" disabled="disabled" class="btn_tichluythe btn btn-green btn-block btn-lg" type="button">
            <input *ngIf="reward.status === 1" [value]="'REWARD.RECEIVED' | translate" disabled="disabled" class="btn_tichluythe btn btn-green btn-block btn-lg" type="button">
            <input *ngIf="reward.status === 2" [value]="'REWARD.RECEIVE_BTN' | translate"  class="btn_tichluythe btn btn-green btn-block btn-lg" type="button" (click)="onSubmit(reward)">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
