<section id="content">
  <form method="post" name="register">
    <div class="form-2">
      <h1>Forgot password</h1>
      <div class="form-box">
        <input type="text" class="form-input" id="qqq" name="qqq" required="" [(ngModel)]="name" maxlength="50" autofocus="true" [ngModelOptions]="{standalone: true}">
        <label for="qq">Account name</label>
      </div>

      <div class="form-box">
        <select id="question" name="quest" class="form-select" [(ngModel)]="question" [ngModelOptions]="{standalone: true}">
          <option label="Favorite animal name?" value="1">Favorite animal name?</option>
          <option label="What is the name of your primary school?" value="2">What is the name of your primary school?</option>
          <option label="The person you love the most?" value="3">The person you love the most?</option>
          <option label="The game you like the most?" value="4">The game you like the most?</option>
          <option label="Where to leave the most unforgettable memories?" value="5">Where to leave the most unforgettable memories?</option>
        </select>
      </div>

      <div class="form-box">
        <input type="text" class="form-input" id="answer" name="ans" required="" [(ngModel)]="answer" maxlength="50" [ngModelOptions]="{standalone: true}">
        <label for="answer">The secret answer</label>
      </div>


      <div class="captcha">
        <button class="button button-blue" type="button" id="btn-register" name="submit" value="RESET PASSWORD" (click)="onResetPassword()">
          <i class="fa fa-clock-o"></i>
          <strong> Reset Password</strong>
        </button>
        <br>
        <div class="form-box" *ngIf="newPassword">
          <span>Your new password is: <font style="color: red; font-weight: bold">{{newPassword}}</font></span>
        </div>
      </div>


    </div>
  </form>
</section>
