<section id="content">
  <form method="post" name="register">
    <div class="form-2">
      <h1>Quên mật khẩu</h1>
      <div class="form-box">
        <input type="text" class="form-input" id="qqq" name="qqq" required="" [(ngModel)]="name" maxlength="50" autofocus="true" [ngModelOptions]="{standalone: true}">
        <label for="qq">Tên tài khoản</label>
      </div>

      <div class="form-box">
        <select id="question" name="quest" class="form-select" [(ngModel)]="question" [ngModelOptions]="{standalone: true}">
          <option label="Tên con vật yêu thích?" value="1">Tên con vật yêu thích?</option>
          <option label="Trường cấp 1 của bạn tên gì?" value="2">Trường cấp 1 của bạn tên gì?</option>
          <option label="Người bạn yêu quý nhất?" value="3">Người bạn yêu quý nhất?</option>
          <option label="Trò chơi bạn thích nhất?" value="4">Trò chơi bạn thích nhất?</option>
          <option label="Nơi để lại kỉ niệm khó quên nhất?" value="5">Nơi để lại kỉ niệm khó quên nhất?</option>
        </select>
      </div>

      <div class="form-box">
        <input type="text" class="form-input" id="answer" name="ans" required="" [(ngModel)]="answer" maxlength="50" [ngModelOptions]="{standalone: true}">
        <label for="answer">Câu trả lời bí mật</label>
      </div>


      <div class="captcha">
        <button class="button button-blue" type="button" id="btn-register" name="submit" value="RESET PASSWORD" (click)="onResetPassword()">
          <i class="fa fa-clock-o"></i>
          <strong> Reset Password</strong>
        </button>
        <br>
        <div class="form-box" *ngIf="newPassword">
          <span>Password mới của bạn là: <font style="color: red; font-weight: bold">{{newPassword}}</font></span>
        </div>
      </div>


    </div>
  </form>
</section>
