<section id="content">
  <form method="post" name="register">
    <div class="form-2">
      <h1>{{ 'FORGOT_PASSWORD.TITLE' | translate }}</h1>
      <div class="form-box">
        <input type="text" class="form-input" id="qqq" name="qqq" required="" [(ngModel)]="name" maxlength="50" autofocus="true" [ngModelOptions]="{standalone: true}">
        <label for="qq">{{ 'FORGOT_PASSWORD.USERNAME' | translate }}</label>
      </div>

      <div class="form-box">
        <select id="question" name="quest" class="form-select" [(ngModel)]="question" [ngModelOptions]="{standalone: true}">
          <option label="{{ 'REGISTER.Q1' | translate }}" value="1">{{ 'REGISTER.Q1' | translate }}</option>
          <option label="{{ 'REGISTER.Q2' | translate }}" value="2">{{ 'REGISTER.Q2' | translate }}</option>
          <option label="{{ 'REGISTER.Q3' | translate }}" value="3">{{ 'REGISTER.Q3' | translate }}</option>
          <option label="{{ 'REGISTER.Q4' | translate }}" value="4">{{ 'REGISTER.Q4' | translate }}</option>
          <option label="{{ 'REGISTER.Q5' | translate }}" value="5">{{ 'REGISTER.Q5' | translate }}</option>
        </select>
      </div>

      <div class="form-box">
        <input type="text" class="form-input" id="answer" name="ans" required="" [(ngModel)]="answer" maxlength="50" [ngModelOptions]="{standalone: true}">
        <label for="answer">{{ 'FORGOT_PASSWORD.ANSWER' | translate }}</label>
      </div>


      <div class="captcha">
        <button class="button button-blue" type="button" id="btn-register" name="submit" value="RESET PASSWORD" (click)="onResetPassword()">
          <i class="fa fa-clock-o"></i>
          <strong>{{ 'FORGOT_PASSWORD.RESET_BTN' | translate }}</strong>
        </button>
        <br>
        <div class="form-box" *ngIf="newPassword">
          <span>{{ 'FORGOT_PASSWORD.NEW_PW_HINT' | translate }}<font style="color: red; font-weight: bold">{{newPassword}}</font></span>
        </div>
      </div>


    </div>
  </form>
</section>
