<div class="main-head">
  <div class="breadcrumbs1">
    <a [routerLink]="['/']" class="tooltipstered">Trang Chủ</a>
    <a [routerLink]="['/']" class="tooltipstered">Sự kiện</a>
    <a class="active tooltipstered" href="#">Nhận quà tích lũy tiêu phí</a>

  </div>
  <h1 class="module-title">Nhận quà tích lũy tiêu phí</h1>
</div>
<div class="alert alert-primary">
  <p class="alert-caption">Lưu ý</p>
  <ul class="noted in-left-10">
    <li><strong>Điều kiện</strong> : Bạn phải mua vật phẩm trong <strong><a href="/cua-hang" target="_blank" style="color: blue">Cửa Hàng</a></strong> để tích điểm đổi quà</li>
    <li>Sau mỗi tuần (bắt đầu từ thứ 2) điểm tích lũy sẽ được reset</li>
    <li>Sau khi bấm nhận thưởng thì cần đến NPC để nhận : <strong><a href="./assets/images/huong-dan-nhan-tien.png" target="_blank" style="color: blue">NPC Nhận thưởng</a></strong></li>
    <li>Điểm hiện tại của bạn: <strong>{{current}}</strong>  VNĐ</li>
  </ul>
</div>
<div class="main-body">
  <div class="out-top-20">
    <table class="table table-striped table-red">
      <thead>

      <tr bgcolor="#FFFFFF">
        <th align="center"><b>Mốc tích lũy</b></th>
        <th align="center" width="500"><b>Phần Thưởng</b></th>
        <th align="center"><b>Nhận thưởng</b></th>
      </tr>

      </thead>

      <tbody>

      <tr bgcolor="#FFFFFF" *ngFor="let reward of rewards">
        <td align="center" width="100px">
          <span class="tag1 tag1-time">{{rewardShop[reward.group]}}</span>
          <div class="progress">
            <div class="progress-bar" style="background-color: #007bff" role="progressbar" [ngStyle]="{width: reward.percent + '%'}" aria-valuenow="25"
                 aria-valuemin="0" aria-valuemax="100">{{reward.percent}}%</div>
          </div>
        </td>
        <td>
          <img *ngFor="let item of reward.items" style="width: 40px; height: 40px; padding-left: 5px;" [src]="host + item.image" [alt]="item.name" [title]="item.name">
        </td>
        <td align="center" width="100px">
          <div class="group-popup2">
            <div class="box-popup box-popup-red" ></div>
            <input *ngIf="reward.status === 0" value="Chưa đạt" disabled="disabled" class="btn_tichluythe btn btn-green btn-block btn-lg" type="button">
            <input *ngIf="reward.status === 1" value="Đã nhận" disabled="disabled" class="btn_tichluythe btn btn-green btn-block btn-lg" type="button">
            <input *ngIf="reward.status === 2" value="Nhận thưởng"  class="btn_tichluythe btn btn-green btn-block btn-lg" type="button" (click)="onSubmit(reward)">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
