<section id="content">
  <form method="post" name="register">
    <div class="form-2">
      <h1>Forgot password</h1>
      <div class="form-box">
        <input type="text" class="form-input" id="qqq" name="qqq" required="" [(ngModel)]="name" maxlength="50" autofocus="true" [ngModelOptions]="{standalone: true}">
        <label for="qq">Account name</label>
      </div>

      <div class="form-box">
        <select id="question" name="quest" class="form-select" [(ngModel)]="question" [ngModelOptions]="{standalone: true}">
          <option label="Tên con vật yêu thích?" value="1">What is your favorite animal?</option>
          <option label="Trường cấp 1 của bạn tên gì?" value="2">What is the name of your elementary school?</option>
          <option label="Người bạn yêu quý nhất?" value="3">Who is your dearest friend?</option>
          <option label="Trò chơi bạn thích nhất?" value="4">What is your favorite game?</option>
          <option label="Nơi để lại kỉ niệm khó quên nhất?" value="5">The place that left the most unforgettable memories?</option>
        </select>
      </div>

      <div class="form-box">
        <input type="text" class="form-input" id="answer" name="ans" required="" [(ngModel)]="answer" maxlength="50" [ngModelOptions]="{standalone: true}">
        <label for="answer">The secret answer.</label>
      </div>


      <div class="captcha">
        <button class="button button-blue" type="button" id="btn-register" name="submit" value="RESET PASSWORD" (click)="onResetPassword()">
          <i class="fa fa-clock-o"></i>
          <strong> Reset Password</strong>
        </button>
        <br>
        <div class="form-box" *ngIf="newPassword">
          <span>Your new password is: <font style="color: red; font-weight: bold">{{newPassword}}</font></span>
        </div>
      </div>


    </div>
  </form>
</section>
