[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# S3925: "ISerializable" should be implemented correctly
dotnet_diagnostic.S3925.severity = none

# S1186: Methods should not be empty
dotnet_diagnostic.S1186.severity = none

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = none

# S112: General exceptions should never be thrown
dotnet_diagnostic.S112.severity = none

# S2971: "IEnumerable" LINQs should be simplified
dotnet_diagnostic.S2971.severity = none

# S3887: Mutable, non-private fields should not be "readonly"
dotnet_diagnostic.S3887.severity = none

# S2386: Mutable fields should not be "public static"
dotnet_diagnostic.S2386.severity = none
