<div class="main-head">
  <div class="breadcrumbs1">
    <a [routerLink]="['/']" class="tooltipstered">Home</a>
    <a [routerLink]="routerContants.card.napThe" class="tooltipstered">Card recharge</a>
  </div>
  <h1 class="module-title">Scratch card recharge</h1>
  <div class="page-tabs">

    <div class="tab"><a [routerLink]="routerContants.card.ATM" class="tooltipstered">Deposit via bank <sup
      id="award_un"
      class="badge badge-green">+5%
      Zcoin</sup></a></div>
    <div class="tab active"><a [routerLink]="routerContants.card.napThe" class="tooltipstered">Card recharge Viettel</a></div>
    <div class="tab"><a [routerLink]="routerContants.card.history" class="tooltipstered">Support list</a></div>
  </div>
</div>

<div class="main-page">
  <div class="main-left">
    <div class="alert alert-blue">
      <h3 class="alert-caption">Note</h3>
      <ul class="alert-list">
        <li>Admin will not be responsible and will not deal with the cases of wrongly loaded face value</li>
        <li>The top-up value will change every session, everyone before loading the card, please read this item every day !</li>
        <li>If bad message system. Please reload after 1 minutes!</li>
        <li>Waiting time for card approval: 1-2 minutes.</li>
      </ul>
    </div>
    <div class="main-body">
      <p>
        <span style="margin-right: 20px">Zcoin are available</span>
        <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="GCent"
              style="margin-right: 20px">
                    <i class="ic ic-g"></i>
                    <span>x {{money}}</span>
                </span>

      </p>
      <span class="break"></span>
      <input type="hidden" name="loaithe" id="loaithe" value="viettel">
      <div class="cash-section">

        <div class="cash-form-block">

          <div class="form-box">
            <input type="text" class="form-input" name="card_serial" id="card_serial" required="" [(ngModel)]="serial">
            <label for="card_serial">Number serial</label>
          </div>

          <div class="form-box">
            <input name="card_num" id="card_num" class="form-input" required="" [(ngModel)]="code">
            <label for="card_num">Card code</label>
          </div>
          <div class="suggest">
            <div id="msg_card_num"></div>
          </div>

          <div class="suggest">
            <div id="msg_card_serial"></div>
          </div>
          <div class="form-box">
            <select name="cardtype" id="cardtype" class="form-select" [(ngModel)]="cardType">
              <option *ngFor="let card of this.cards;" [value]="card.id">{{card.name}}</option>
            </select>
          </div>

          <div class="form-box">
            <select name="menhgia" id="menhgia" class="form-select" [(ngModel)]="value">
              <option value="0" selected="selected">Choose denomination</option>
              <option value="10000">10.000 VIETTEL</option>
              <option value="20000">20.000 VIETTEL</option>
              <option value="50000">50.000 VIETTEL</option>
              <option value="100000">100.000 VIETTEL</option>
              <option value="200000">200.000 VIETTEL</option>
              <option value="300000">300.000 VIETTEL</option>
              <option value="500000">500.000 VIETTEL</option>
              <option value="1000000">1.000.000 VIETTEL</option>
            </select>
          </div>
          <div class="suggest">
            <div id="msg_menhgia">Wrong denomination will lose card</div>
          </div>
          <div class="form-box" style="margin-bottom: 50px" >
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" disabled >Fast recharge
              </label>
            </div>
            <div class="form-check" style="margin-left: 8rem">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" checked name="optradio" (click)="statusClick(1)">Slow recharge
              </label>
            </div>
          </div>

        </div>
      </div>

      <span class="break"></span>
      <div class="act-btn">
        <button class="btn btn-primary btn-lg btn-block" id="btn_napthe" type="button" name="submit"
                (click)="onSubmit()">Recharge card
        </button>
      </div>
      <br>
      <div id="msg_napthe"></div>
    </div>

  </div>
  <div class="main-right">
    <div class="alert alert-primary" role="alert">
      <h3 class="alert-caption">Note</h3>
      <ul class="alert-list">
        <li>- After loading the card, keep the card carefully and not let anyone know until <a
          href="#napthe&amp;act=listcard" rel="ajax" class="tooltipstered">TRIAL STATUS</a> it is the correct/completed Card.
        </li>
        <li>- If your card is stolen and lost by someone else, we are not responsible at all.</li>
      </ul>
    </div>
    <div class="alert alert-white-secondary" role="alert">
      <h3 class="alert-caption">number of top-up cards of the day</h3>
      <ul class="alert-list-column">
        <li>
          <div class="l">Reset &lt; 1 times</div>
          <div class="v">100 card / day</div>
        </li>

      </ul>
    </div>
  </div>
</div>

