<div class="main-head">
  <div class="breadcrumbs1">
    <a [routerLink]="['/']" class="tooltipstered">Home</a>
    <a [routerLink]="routerContants.card.napThe" class="tooltipstered">Top up the card</a>
  </div>
  <h1 class="module-title">List of recharge cards</h1>
  <div class="page-tabs">

    <div class="tab"><a [routerLink]="routerContants.card.ATM" class="tooltipstered">Deposit through the bank. <sup id="award_un"
                                                                                                class="badge badge-green">+10%
      Zcoin</sup></a></div>
    <div class="tab ">
      <a [routerLink]="routerContants.card.napThe" class="tooltipstered">Recharge Viettel card</a></div>
    <div class="tab active"><a [routerLink]="routerContants.card.history" class="tooltipstered">Loaded list</a></div>
  </div>
</div>

<div class="main-body">



  <div class="in-20 font-14 text-semibold">
    <div class="table-responsive">
      <table class="table table-striped table-red">
        <thead>
        <tr>
          <th>#</th>
          <th>Transaction code</th>
          <th>Serial</th>
          <th>Code</th>
          <th>Denomination</th>
          <th>Status</th>
          <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let card of cards; let i = index;">
          <td align="center">{{i + 1}}</td>
          <td align="center">{{card.tranId}}</td>
          <td>{{card.seri}}</td>
          <td>{{card.code}}</td>
          <td><font>{{card.amount}}</font></td>
          <td align="center">{{card.message}}</td>
          <td align="center">{{card.createdDate | date: 'dd/MM/yy HH:mm:ss'}}</td>
        </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>
