<img id="dhtmlpointer" src="/assets/HT/show/tooltiparrow.gif">
<!--End Showtip-->
<div id="dhtmltooltip"></div>
<div class="wrap-fluid ">
  <div class="content">
    <div class="container">
      <div class="topuser">
        <div class="links">
          <ul class="menu1 cleafix">
            <li>
              <a href="index.php">Trang chủ</a>
            </li>
            <li>
              <a href="http://dl.mu-hanoi.vn">Tải Game</a>
            </li>
            <li class="parent">
              <a href="http://home.mu-hanoi.vn">Cộng Đồng</a>
              <ul class="children">
                <li>
                  <a href="https://www.facebook.com/muhanoi2010">Facebook</a>
                </li>
                <li>
                  <a href="https://www.facebook.com/groups/muhanoiss2">Nhóm Facebook</a>
                </li>
              </ul>
            </li>
            <li class="parent">
              <a href="http://home.mu-hanoi.vn">Tin Tức</a>
              <ul class="children">
                <li>
                  <a href="http://home.mu-hanoi.vn/tin-tuc/">Thông Báo</a>
                </li>
                <li>
                  <a href="http://home.mu-hanoi.vn/su-kien/">Sự Kiện</a>
                </li>
                <li>
                  <a href="http://home.mu-hanoi.vn/huong-dan/">Hướng Dẫn</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="topbar navbar-expand-lg navbar-dark">
          <button class="navbar-toggler btn-acc" type="button" data-toggle="collapse" data-target="#navbarTopbar"
                  aria-controls="navbarTopbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <button class="navbar-toggler btn-menu-bar" type="button" data-toggle="collapse" data-target="#navbarCategory"
                  aria-controls="navbarCategory" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-tasks"></i>
          </button>
          <div class="collapse navbar-collapse topbar-container" id="navbarTopbar">
            <div class="acc-info">
              <div class="quick-action">
                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" id="dropdownMenuQuickAction" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v" data-toggle="tooltip" data-placement="bottom" title=""
                       data-original-title="Truy cập nhanh"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuQuickAction">
                    <a class="dropdown-item" href="#acc_manager&amp;act=changepassgame">Đổi mật khẩu game</a>
                    <a class="dropdown-item" href="#acc_manager&amp;act=changepass2">Đổi mật khẩu cấp 1</a>
                    <a class="dropdown-item" href="#acc_manager&amp;act=changepass2">Đổi mật khẩu cấp 2</a>
                  </div>
                </div>
              </div>
              <div class="acc-info-content">
                <div class="aic-top">
                  <span class="label-name">Tài khoản:</span>
                  <a href="#acc_manager">
                    <span class="name">skyber</span>
                  </a>
                </div>
                <div class="aic-bottom">
                  <i class="fas fa-sign-out-alt"></i>
                  <span>
											<form method="post" name="logout" action="index.php"
                            pmbx_context="2FEC16B8-C9CA-43BE-AA75-984BD86FBE62">
												<input type="hidden" name="logout" value="logout"
                               pmbx_context="8A8FA473-FFE6-4486-8FEB-302621724F27">
													<input type="submit" name="submit" value="Thoát"
                                 pmbx_context="6D0793C3-3F9D-4904-85CC-69751771791B" style="
    background: #ffffff00;
    color: #ffbf00;
    border: 1px solid #f9914100;
    font-weight: bold;
    margin-left: -25px;
">
													</form>
												</span>
                  <span data-toggle="tooltip" data-placement="bottom" title="" id="head_gcoin"
                        data-original-title="GCOIN hiện có">
													<i class="ic ic-g"></i>
													<span>0</span>
												</span>
                  <span data-toggle="tooltip" data-placement="bottom" title="" id="head_gcoin_km"
                        data-original-title="GCent khuyến mại">
													<i class="ic ic-gp"></i>
													<span>0</span>
												</span>
                  <span data-toggle="tooltip" data-placement="bottom" title="" id="head_wcoin"
                        data-original-title="WCoin hiện có">
													<i class="ic ic-w"></i>
													<span>0</span>
												</span>
                </div>
              </div>
            </div>
            <div class="acc-action">
              <div class="links">
                <a href="http://home.mu-hanoi.vn">
                  <i class=" fa fa-home"></i> Trang chủ
                </a>
                <a href="http://dl.mu-hanoi.vn">
                  <i class="fal fa-download"></i> Tải game
                </a>
                <a href="http://home.mu-hanoi.vn">
                  <i class=" fa fa-comments"></i> Tin tức
                </a>
                <a href="https://www.facebook.com/muhanoi2010">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-left">
        <div class="left-content">
          <ul class="navigation"></ul>
        </div>
      </div>
      <div class="col-right">
        <div class="right-content">
          <div class="main-block">
            <div class="main-right">
              <div id="Login_Content">
                <div class="priority-block out-top-20 out-top-20 character-wrap-block">
                  <br>
                  <div class="character-block">
                    <!--chon nv!-->
                    <form id="ChonNV" name="ChonNV" method="post" class="xdt" action="#char_manager">
                      <input type='hidden' name='ChonNV' value='ChonNV'/>
                      <select name="nhanvat" onchange="submit();" class="form-style" style="
    color: #ffb500;
    font-size: 16px;
    /* font-weight: bold; */
    background: #191a1900;
padding: 5px;
border: 1px solid #ff000000;
    border-bottom: 1px solid #966100;
    font-size: 14px;
    font-weight: 400;
    color: #9e6600;
    text-align: center;
    cursor: pointer;

    margin: auto;

">
                        <option value="0" selected="selected">Chọn nhân vật</option>
                        <option value="L4dyKill3r"> L4dyKill3r</option>
                      </select>
                    </form>
                    <!--sau khi chon-->
                    <div id="char_view">
                      <div class="selected-character" id="reload_char">
                        <div class="image-character nocharacter"></div>
                        <div class="info-character"></div>
                      </div>
                    </div>
                    <br/>
                    <div class="bank-jewel">
                      <ul>
                        <div class="text-center">
                          <a target="_blank"
                             href="http://home.mu-hanoi.vn/event-in-game-may-chu-huyen-thoai//">
                            <i class="fa fa-spinner fa-lg fa-spin"></i>
                            <strong>Sự Kiện InGame diễn ra</strong>
                            <span class="tag1 tag1-time">Xem ngay</span>
                          </a>
                        </div>
                      </ul>
                    </div>
                    <div class="bank-jewel">
                      <ul>
                        <div clas="text-center">
                          <a href="#">
                            <i class="fa fa-spinner fa-lg fa-spin"></i>
                            <strong>Hỗ trợ</strong>
                            <span class="tag1 tag1-time">0961.666.516</span>
                          </a>
                        </div>
                      </ul>
                    </div>
                    <div class="bank-jewel">
                      <h1 class="bank-head">Hệ thống ngân hàng</h1>
                      <ul>
                        <li>
                          <span class="bank-icon bank-heart" title="Trái tim"></span>
                          <span class="bank-store"
                                id="box_acc_bank_heart">0</span>
                        </li>
                        <li>
                          <span class="bank-icon bank-chaos" title="Ngọc hỗn nguyên"></span>
                          <span class="bank-store"
                                id="box_acc_bank_chao">0</span>
                        </li>
                        <li>
                          <span class="bank-icon bank-creation" title="Ngọc sáng tạo"></span>
                          <span class="bank-store"
                                id="box_acc_bank_cre">0</span>
                        </li>
                        <li>
                          <span class="bank-icon bank-blue" title="Lông vũ"></span>
                          <span class="bank-store"
                                id="box_acc_bank_blue">0</span>
                        </li>
                        <li>
                          <span class="bank-icon bank-zen" title="Zen"></span>
                          <span class="bank-store"
                                id="box_acc_bank_zen">0</span>
                        </li>
                      </ul>
                    </div>
                    <div class="menu collapse" id="navbarCategory">
                      <div class="menu-primary ">
                        <ul class="category">
                          <li class="cat-item">
																		<span>
																			<i class="fa fa-gift"></i>&emsp;&emsp;GifCode
																			<i class="fas fa-angle-down"></i>
																		</span>
                            <ul class="sub-menu">
                              <li class="sub-item">
                                <a href="#event&act=giftcode_change" rel="ajax">Nhận phần thưởng
                                  GiftCode</a>
                              </li>
                              <li class="sub-item">
                                <a href="#event&act=giftcode_history" rel="ajax">Lịch sử GiftCode</a>
                              </li>
                            </ul>
                          </li>
                          <li class="cat-item">
																		<span>
																			<i class="fa fa-edit"></i>&emsp;&emsp;Tài khoản
																			<i
                                        class="fas fa-angle-down"></i>
																		</span>
                            <ul class="sub-menu">
                              <li class="sub-item">
                                <a href="#acc_manager&act=changepassgame" rel="ajax">Đổi mật khẩu
                                  Game</a>
                              </li>
                              <li class="sub-item">
                                <a href="#acc_manager&act=changepass2" rel="ajax">Đổi mật khẩu
                                  Web</a>
                              </li>
                              <li class="sub-item">
                                <a href="#acc_manager&act=changesdt_sms" rel="ajax">Đổi số điện
                                  thoại</a>
                              </li>
                              <li class="sub-item">
                                <a href="#acc_manager&act=changequest" rel="ajax">Đổi câu hỏi bí
                                  mật</a>
                              </li>
                            </ul>
                          </li>
                          <li class="cat-item">
																		<span>
																			<i class="fal fa-user-circle"></i>&emsp;&emsp;Nhân vật
																			<i
                                        class="fas fa-angle-down"></i>
																		</span>
                            <ul class="sub-menu">
                              <li class="sub-item">
                                <a href="#rsingame_view" rel="ajax">Reset nhân vật</a>
                              </li>
                              <li class="sub-item">
                                <a rel="ajax" href="#char_manager&act=addpoint">Cộng điểm</a>
                              </li>
                              <li class="sub-item">
                                <a href="#char_manager&act=resetpoint" rel="ajax">ResetPoint</a>
                              </li>
                              <li class="sub-item">
                                <a href="#questdaily" rel="ajax">Phúc Lợi Nạp Ngày
                                  <span id="qdl_un"
                                        class=""></span>
                                </a>
                              </li>
                              <li class="sub-item">
                                <a href="#char_manager&act=rsmaster" rel="ajax">Reset Master</a>
                              </li>
                              <li class="sub-item">
                                <a href="#char_manager&act=doigioitinh" rel="ajax">Đổi Giới Tính</a>
                              </li>
                            </ul>
                          </li>
                          <li class="cat-item">
																		<span>
																			<i class="fal fa-calendar-alt"></i>&emsp;&emsp;Event
																			<i class="fas fa-angle-down"></i>
																		</span>
                            <ul class="sub-menu">
                              <li class="sub-item">
                                <a href="#event&act=event_tichluythe" rel="ajax">Tích lũy thẻ nạp</a>
                              </li>
                              <li class="sub-item">
                                <a href="#questdaily" rel="ajax">Nhiệm vụ Hằng Ngày</a>
                              </li>
                              <li class="sub-item">
                                <a href="#event&act=event_topcard" rel="ajax">Vinh Hoa Phú Quý</a>
                              </li>
                            </ul>
                          </li>
                          <li class="cat-item">
																		<span>
																			<i class="fal fa-donate"></i>&emsp;&emsp;Ngân hàng
																			<i
                                        class="fas fa-angle-down"></i>
																		</span>
                            <ul class="sub-menu">
                              <li class="sub-item">
                                <a href="#tiente&act=gcoin2wcoin" rel="ajax">Đổi Gcoin sang WCoin</a>
                              </li>
                              <li class="sub-item">
                                <a href="#tiente&act=wcoin2gcoin" rel="ajax">Đổi Wcoin sang Gcoin</a>
                              </li>
                            </ul>
                          </li>
                          <li class="cat-item">
																		<span>
																			<i class="fal fa-university"></i>&emsp;&emsp;Nạp Thẻ
																			<i class="fas fa-angle-down"></i>
																		</span>
                            <ul class="sub-menu">
                              <li class="sub-item">
                                <a href="#napthe&act=atm" rel="ajax">Nạp ATM
                                  <span
                                    class="badge badge-green">+ 20 %</span>
                                </a>
                              </li>
                              <li class="sub-item">
                                <a href="#napthe&act=atm" rel="ajax">Nạp Ví MOMO
                                  <span
                                    class="badge badge-green">+ 20 %</span>
                                </a>
                              </li>
                              <li class="sub-item">
                                <a href="#napthe&act=viettel" rel="ajax">Nạp thẻ Viettel</a>
                              </li>
                              <li class="sub-item">
                                <a href="#napthe&act=listcard" rel="ajax">Danh sách thẻ nạp</a>
                              </li>
                            </ul>
                          </li>
                          <li class="cat-item">
																		<span>
																			<i class="fal fa-calendar-star"></i>&emsp;&emsp;Giải Trí
																			<i
                                        class="fas fa-angle-down"></i>
																		</span>
                            <ul class="sub-menu">
                              <li class="sub-item">
                                <a href="#relax&act=vongquay" rel="ajax">Vòng Quay May Mắn</a>
                              </li>
                            </ul>
                          </li>
                          <li class="cat-item">
																		<span>
																			<i class="fal fa-circle"></i>&emsp;&emsp;Máy Chao
																			<i
                                        class="fas fa-angle-down"></i>
																		</span>
                            <ul class="sub-menu"></ul>
                          </li>
                          <li class="cat-item">
																		<span>
																			<i class="fa fa-trophy"></i>&emsp;&emsp;Xếp Hạng
																			<i
                                        class="fas fa-angle-down"></i>
																		</span>
                            <ul class="sub-menu">
                              <li class="sub-item">
                                <a href="#rank&act=ranking" rel="ajax">BXH Nhân vật</a>
                              </li>
                              <li class="sub-item">
                                <a href="#rank&act=ranking_guild&type=rs" rel="ajax">BXH Bang Hội</a>
                              </li>
                              <li class="sub-item">
                                <a href="#rank&act=rank_master" rel="ajax">BXH Master</a>
                              </li>
                              <li class="sub-item">
                                <a href="#rank&act=rank_gp" rel="ajax">BXH Điểm GP</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <!--
                  <div class="menu-collap"><span class="collap-icon"></span><span class="collap-text">Thu gọn</span></div>
                -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="main-left">
              <div class="in-right-30">
                <div id='BlockLeft'>
                  <div id='hienthi'>
                    <div class="main-head">
                      <div class="breadcrumbs1">
                        <a href="index.php">
                          <i class="fas fa-home-lg"></i> Trang Chủ
                        </a>
                        <a class="active" href="#char_manager">
                          <i class="fal fa-user-check"></i> MU Chính Thống Số 1
                          Việt Nam
                        </a>
                      </div>
                      <h1 class="module-title">Mu Hà Nội
                        <br>
                        <font color='red' style="
    font-size: 13px;
"> Xem tin tức tại : www.home.mu-hanoi.vn</font>
                      </h1>
                    </div>
                    <div class="main-body">
                      <div class="aiq-action">
                        <ul>
                          <li>
                            <span class="label">Tài khoản</span>
                            <span class="value">
																				<strong class="primary-color">skyber</strong>
																			</span>
                            <span class="action"></span>
                          </li>
                          <li>
                            <span class="label">Mật khẩu Game</span>
                            <span class="value">
																				<i class="fas fa-ellipsis-h"></i>
																				<i class="fas fa-ellipsis-h"></i>
																				<i
                                          class="fas fa-ellipsis-h"></i>
																			</span>
                            <span class="action">
																				<a href="#acc_manager&act=changepassgame" rel="ajax">
																					<i
                                            class="fas fa-cogs"></i>
																					<span class="text-option">Sửa</span>
																				</a>
																			</span>
                          </li>
                          <li>
                            <span class="label">Mật khẩu Web 1</span>
                            <span class="value">
																				<i class="fas fa-ellipsis-h"></i>
																				<i class="fas fa-ellipsis-h"></i>
																				<i
                                          class="fas fa-ellipsis-h"></i>
																			</span>
                            <span class="action">
																				<a href="#acc_manager&act=changepass2" rel="ajax">
																					<i
                                            class="fas fa-cogs"></i>
																					<span class="text-option">Sửa</span>
																				</a>
																			</span>
                          </li>
                          <li>
                            <span class="label">Số điện thoại</span>
                            <span class="value">
																				<i class="fas fa-ellipsis-h"></i>
																				<i
                                          class="fas fa-ellipsis-h"></i>747
																			</span>
                            <span class="action">
																				<a href="#acc_manager&act=changesdt_sms" rel="ajax">
																					<i
                                            class="fas fa-cogs"></i>
																					<span class="text-option">Sửa</span>
																				</a>
																			</span>
                          </li>
                          <li>
                            <span class="label">Câu hỏi bí mật</span>
                            <span class="value"></span>
                            <span class="action">
																				<a href="#acc_manager&act=changequest" rel="ajax">
																					<i
                                            class="fas fa-cogs"></i>
																					<span class="text-option">Sửa</span>
																				</a>
																			</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="main-body">
                      <div class="aiq-action">
                        <ul></ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end main-left-->
          </div>
          <!--end main-block-->
        </div>
      </div>
    </div>
  </div>
  <!--Menu khi xem DT-->
  <div class="barBot">
    <div class="barCol">
      <div class="TabBar"></div>
    </div>
    <div class="barCol">
      <div class="TabBar">
        <form method="post" name="logout" action="index.php" pmbx_context="2FEC16B8-C9CA-43BE-AA75-984BD86FBE62">
          <input type="hidden" name="logout" value="logout" pmbx_context="8A8FA473-FFE6-4486-8FEB-302621724F27">
          <input type="submit" name="submit" value="Thoát" pmbx_context="6D0793C3-3F9D-4904-85CC-69751771791B" style="
    width: 100%;
    height: 100%;
    background: #7f8c8d;
    color: white;
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
    border: 1px solid #bfbfbf;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #8c8c8c;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 9px 16px 9px;
    /* margin: 16px 0 0 16px; */
    transition: all 20ms ease-out;
    vertical-align: top;
">
        </form>
      </div>
    </div>
    <div class="barCol">
      <div class="TabBar"></div>
    </div>
  </div>
  <div class="popupCenter">
    <p class="popupCaption">Popup</p>
    <i class="popupClose"></i>
    <div class="popupContent"></div>
  </div>
  <div class="loading"></div>
  <div class="blackBg"></div>
  <div id='dialog-message' title='Hệ thống Web tài khoản' style='display: block'>
    <div style='float:left; margin:0 7px 60px 0;'>
      <div id='dialog-content'></div>
    </div>
  </div>
</div>
