<div class="main-head">
  <div class="breadcrumbs1">
    <a [routerLink]="['/']" class="tooltipstered">Trang Chủ</a>
    <a  class="tooltipstered">Gift Code</a>
  </div>
  <h1 class="module-title">Tạo Gift Code</h1>
</div>
<div class="alert alert-primary">
  <p class="alert-caption">Lưu ý</p>
  <ul class="noted in-left-10">
    <li>Sau khi nhận phần thưởng Gift Code thì sẽ được chuyển vật phẩm đến <strong>cq_bonus</strong></li>
    <li>Action Id là <strong>action_id</strong> trong bảng <strong>cq_bonus</strong></li>
  </ul>
</div>
<div class="main-page">
  <div class="main-left">
    <div class="main-body">
      <div class="cash-section">
        <div class="cash-form-block" style="max-width: 500px; margin: 0 auto;">

          <div class="form-box">
            <input id="giftCode" class="form-input" required="" [(ngModel)]="giftCode" type="text">
            <label for="giftCode">Gift Code</label>
          </div>

          <div class="form-box">
            <input id="item" class="form-input" required="" [(ngModel)]="itemId" type="text">
            <label for="item">Action Id</label>
          </div>

          <div class="form-box">
            <select name="type" class="form-select" [(ngModel)]="type">
              <option *ngFor="let t of this.types;" [value]="t.key">{{t.value}}</option>
            </select>
          </div>

        </div>
      </div>

      <span class="break"></span>
      <div class="act-btn">
        <button class="btn btn-primary btn-lg btn-block" type="button" (click)="create()">Tạo Gift Code
        </button>
      </div>
    </div>
    <div class="in-20 font-14 text-semibold">
      <div class="table-responsive">
        <table class="table table-striped table-red">
          <thead>
          <tr>
            <th>#</th>
            <th>Mã Gift Code</th>
            <th>Loại</th>
            <th>Action Id</th>
            <th>Trạng thái</th>
            <th>Thời gian</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gift of giftCodes">
              <td>{{gift.id}}</td>
              <td>{{gift.code}}</td>
              <td>{{gift.type == 1 ? '1 cho 1' : '1 cho tất cả'}}</td>
              <td>{{gift.itemId}}</td>
              <td>{{gift.isUsed ? 'Đã sử dụng' : 'Chưa sử dụng'}}</td>
              <td>{{gift.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
