API/bin/
API/obj/
MailWorker/bin/
MailWorker/obj/
.vs/
API/Properties/PublishProfiles/FolderProfile.pubxml
API/Properties/PublishProfiles/FolderProfile.pubxml.user
API/EIB_API.xml
CORE_API/obj/
CORE_API/bin/
Entity/bin/
Entity/obj/
demo/bin/Release/DesignReport.exe
demo/bin/Release/DesignReport.exe.config
demo/bin/Release/DesignReport.pdb
demo/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
demo/obj/Debug/DesignReport.csprojAssemblyReference.cache
demo/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
demo/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
demo/obj/Release/Demo.Form1.resources
demo/obj/Release/DesignReport.csproj.CoreCompileInputs.cache
demo/obj/Release/DesignReport.csproj.FileListAbsolute.txt
demo/obj/Release/DesignReport.csproj.GenerateResource.cache
demo/obj/Release/DesignReport.csprojAssemblyReference.cache
demo/obj/Release/DesignReport.exe
demo/obj/Release/DesignReport.frmRegisterData.resources
demo/obj/Release/DesignReport.pdb
demo/obj/Release/DesignReport.Properties.Resources.resources
demo/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
packages/Newtonsoft.Json.13.0.1/.signature.p7s
packages/Newtonsoft.Json.13.0.1/LICENSE.md
packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
packages/Newtonsoft.Json.13.0.1/packageIcon.png
packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
DesignReport/bin/
DesignReport/obj/
demo/obj/
packages/
demo/bin/
